Used to search for files that match a specified pattern.

In [1]:
!pip install pandas
!pip3 install scipy
import pandas as pd
import numpy as np
import glob
import scipy.stats as stats

zsh:1: /opt/homebrew/bin/pip: bad interpreter: /opt/homebrew/opt/python@3.9/bin/python3.9: no such file or directory
Requirement already satisfied: scipy in /opt/homebrew/lib/python3.10/site-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /opt/homebrew/lib/python3.10/site-packages (from scipy) (1.24.3)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python3.10 -m pip install --upgrade pip

Xiao Hei Cleaning

In [2]:
# Load the qrels file
qrels_file_path = 'qrels.trec8.adhoc.csv'
qrels_df = pd.read_csv(qrels_file_path, sep=' ', header=None, names=['query_id', 'ignore', 'doc_id', 'relevance'])

#show qrels_dataframe
qrels_df.head()
print(qrels_df.columns)

Index(['query_id', 'ignore', 'doc_id', 'relevance'], dtype='object')

In [3]:
# Get a list of all CSV files in the input directory
input_files = glob.glob('input/*.csv')

# Create an empty list to store the input files dataframes
input_dfs = []

# Loop through each input CSV file
for filename in input_files:
    # Read the input CSV file into a dataframe
    df = pd.read_csv(filename, sep='\t', header=None)
    # Append the dataframe to the list of dataframes
    input_dfs.append(df)
    
raw_data = pd.concat(input_dfs, ignore_index=True)
print('Shape of raw_data:', raw_data.shape)

############################################## Data cleaning ##############################################

# Loop through each input dataframe and filter out rows where does not meet the clean up requirement
# 1. data_id  is not present in qrels_data_ids
# 2. relevant_score equal to 0
# 3. duplicate ranking

# Extract the valid values from the third column of qrels_df
qrels_data_ids = set(qrels_df.iloc[:, 2])

cleaned_dfs = []

for df in input_dfs:
    # # # Get rows where the data id is present in the qrels data ids
    # # df_with_present_data_id = df.iloc[:, 2].isin(qrels_data_ids)
    
    # # # Get rows where relevant_score does not equal 0
    # # df_with_relevant_score_not_zero = df.iloc[:, 4] != 0
    
    # # Combine targeted rows for first and second rule
    # cleaned_df = df[df_with_present_data_id & df_with_relevant_score_not_zero]

    # Get rows where ranking is not duplicated
    cleaned_df = df
    cleaned_dfs.append(cleaned_df)

# Print the shape of the cleaned data
print("this is input data:", cleaned_dfs)

Shape of raw_data: (689266, 6)
this is input data: [        0   1            2    3      4         5
0     401  Q0   FT922-9093    1  25000  READWARE
1     401  Q0   FT924-4344    2  24999  READWARE
2     401  Q0   FT924-5091    3  24998  READWARE
3     401  Q0   FT924-5839    4  24997  READWARE
4     401  Q0   FT924-7558    5  24996  READWARE
...   ...  ..          ...  ...    ...       ...
3055  450  Q0   FT943-9994  159  13986  READWARE
3056  450  Q0  FBIS3-33777  160  13000  READWARE
3057  450  Q0  FBIS3-52235  161  12000  READWARE
3058  450  Q0  FBIS4-12807  162  11000  READWARE
3059  450  Q0  FBIS4-37770  163  10999  READWARE

[3060 rows x 6 columns],          0   1            2     3         4       5
0      401  Q0   FT911-1796     1  0.461869  INQ601
1      401  Q0  FBIS4-55036     2  0.446217  INQ601
2      401  Q0  FBIS3-18916     3  0.444678  INQ601
3      401  Q0  FBIS3-18833     4  0.442222  INQ601
4      401  Q0  FBIS3-17077     5  0.441394  INQ601
...    ...  ..          ...   ...       ...     ...
49995  450  Q0   FT934-2310   996  0.434220  INQ601
49996  450  Q0  FBIS3-56284   997  0.434217  INQ601
49997  450  Q0    FT944-547   998  0.434203  INQ601
49998  450  Q0  FBIS3-54144   999  0.434201  INQ601
49999  450  Q0  FBIS4-37525  1000  0.434192  INQ601

[50000 rows x 6 columns],          0   1            2     3          4       5
0      401  Q0    FT941-230     1  12.573170  Sab8A1
1      401  Q0   FT924-4470     2  12.210987  Sab8A1
2      401  Q0   FT941-1403     3  11.885273  Sab8A1
3      401  Q0   FT911-1796     4  11.673589  Sab8A1
4      401  Q0   FT941-4640     5  11.659075  Sab8A1
...    ...  ..          ...   ...        ...     ...
49995  450  Q0  FBIS4-12782   996  11.167779  Sab8A1
49996  450  Q0   FT944-8278   997  11.164985  Sab8A1
49997  450  Q0   FT911-3549   998  11.164135  Sab8A1
49998  450  Q0  FT923-15612   999  11.160301  Sab8A1
49999  450  Q0  FT934-10241  1000  11.153819  Sab8A1

[50000 rows x 6 columns],          0   1            2     3          4        5
0      401  Q0  FBIS4-55036     1  60.587582  mds08a3
1      401  Q0  FBIS3-38236     2  60.456001  mds08a3
2      401  Q0  FBIS4-65434     3  60.362904  mds08a3
3      401  Q0  FBIS4-18182     4  60.157059  mds08a3
4      401  Q0   FBIS4-9157     6  59.166615  mds08a3
...    ...  ..          ...   ...        ...      ...
49995  450  Q0   FT921-7236   996  64.620201  mds08a3
49996  450  Q0  FBIS4-13313   997  64.563713  mds08a3
49997  450  Q0  FBIS4-15060   998  64.553299  mds08a3
49998  450  Q0  FBIS3-34835   999  64.534149  mds08a3
49999  450  Q0  FBIS4-14306  1000  64.533653  mds08a3

[50000 rows x 6 columns],          0   1              2     3       4       5
0      401  Q0    FBIS4-19680     1  1000.0  isa50t
1      401  Q0  LA103089-0066     2   999.0  isa50t
2      401  Q0    FBIS4-55625     3   998.0  isa50t
3      401  Q0    FT921-11087     4   997.0  isa50t
4      401  Q0     FT944-8635     5   996.0  isa50t
...    ...  ..            ...   ...     ...     ...
49060  450  Q0    FT943-16762   996     5.0  isa50t
49061  450  Q0  LA011590-0020   997     4.0  isa50t
49062  450  Q0  LA031289-0055   998     3.0  isa50t
49063  450  Q0  LA031389-0063   999     2.0  isa50t
49064  450  Q0  LA072790-0028  1000     1.0  isa50t

[49065 rows x 6 columns],          0   1              2    3         4       5
0      401  Q0    FBIS4-18182    0  3.304330  ok8alx
1      401  Q0    FBIS3-18916    1  3.059850  ok8alx
2      401  Q0    FBIS3-18833    2  3.019000  ok8alx
3      401  Q0     FT911-1796    3  2.903060  ok8alx
4      401  Q0    FBIS3-59042    4  2.897510  ok8alx
...    ...  ..            ...  ...       ...     ...
49995  450  Q0    FBIS3-13198  995  0.857474  ok8alx
49996  450  Q0  LA022289-0054  996  0.856684  ok8alx
49997  450  Q0  LA091190-0052  997  0.856638  ok8alx
49998  450  Q0     FT924-1460  998  0.856591  ok8alx
49999  450  Q0    FBIS3-39821  999  0.856017  ok8alx

[50000 rows x 6 columns],          0   1            2     3          4         5
0      401  Q0  FT922-14939     1  19.609444  att99ate
1      401  Q0  FT922-10801     2  18.003141  att99ate
2      401  Q0  FT922-15552     3  17.388166  att99ate
3      401  Q0  FBIS3-20090     4  17.340698  att99ate
4      401  Q0  FT922-10979     5  17.248894  att99ate
...    ...  ..          ...   ...        ...       ...
49995  450  Q0   FT923-1001   996  20.951300  att99ate
49996  450  Q0  FBIS4-38174   997  20.951221  att99ate
49997  450  Q0  FBIS4-11808   998  20.938559  att99ate
49998  450  Q0  FBIS4-13138   999  20.936655  att99ate
49999  450  Q0    FT911-305  1000  20.936275  att99ate

[50000 rows x 6 columns],          0   1              2    3             4           5
0      401  Q0     FT924-5091    0  10015.175781  acsys8aln2
1      401  Q0    FBIS3-39240    1  10014.111328  acsys8aln2
2      401  Q0     FT924-4470    2  10013.638672  acsys8aln2
3      401  Q0    FBIS4-18182    3  10013.591797  acsys8aln2
4      401  Q0    FBIS3-59055    4  10013.441406  acsys8aln2
...    ...  ..            ...  ...           ...         ...
49995  450  Q0    FBIS3-53597  995  10012.497070  acsys8aln2
49996  450  Q0    FBIS3-34689  996  10012.493164  acsys8aln2
49997  450  Q0    FT942-15243  997  10012.483398  acsys8aln2
49998  450  Q0    FBIS3-54404  998  10012.474609  acsys8aln2
49999  450  Q0  LA120290-0130  999  10012.472656  acsys8aln2

[50000 rows x 6 columns],          0   1            2     3     4       5
0      401  Q0  FBIS3-24653    29  75.0  disco1
1      401  Q0  FBIS4-23131    26  75.0  disco1
2      401  Q0     FBIS3-29    45  72.0  disco1
3      401  Q0  FBIS3-37947    32  72.0  disco1
4      401  Q0  FBIS3-43132    50  72.0  disco1
...    ...  ..          ...   ...   ...     ...
37136  450  Q0  FT921-12459  3485  40.0  disco1
37137  450  Q0   FT921-1287  3831  40.0  disco1
37138  450  Q0  FT921-13087  3179  40.0  disco1
37139  450  Q0  FT921-13708  2883  40.0  disco1
37140  450  Q0  FT921-13984  4302  40.0  disco1

[37141 rows x 6 columns],          0   1              2     3       4         5
0      401  Q0     FT942-5121     2  8.3846  apl8c621
1      401  Q0     FT942-5131     1  8.3846  apl8c621
2      401  Q0     FT924-7558     3  6.6410  apl8c621
3      401  Q0    FT931-10513     4  5.9905  apl8c621
4      401  Q0     FT944-6909     5  5.4853  apl8c621
...    ...  ..            ...   ...     ...       ...
49995  450  Q0     FT941-4191   996  0.2272  apl8c621
49996  450  Q0    FBIS3-42205   998  0.2256  apl8c621
49997  450  Q0     FT941-2056   997  0.2256  apl8c621
49998  450  Q0  LA033190-0069   999  0.2240  apl8c621
49999  450  Q0    FBIS4-14287  1000  0.2232  apl8c621

[50000 rows x 6 columns],          0   1              2     3             4          5
0      401  Q0     FBIS4-9582     1  21885.191406  Flab8atd2
1      401  Q0    FBIS4-18182     2  20682.982422  Flab8atd2
2      401  Q0    FBIS4-62200     3  19856.041016  Flab8atd2
3      401  Q0    FBIS4-54440     4  19504.779297  Flab8atd2
4      401  Q0    FBIS3-20090     5  19278.716797  Flab8atd2
...    ...  ..            ...   ...           ...        ...
49995  450  Q0     FT934-4868   996  20130.666016  Flab8atd2
49996  450  Q0    FBIS4-61930   997  20129.125000  Flab8atd2
49997  450  Q0  LA120890-0016   998  20114.947266  Flab8atd2
49998  450  Q0    FBIS3-52453   999  20114.148438  Flab8atd2
49999  450  Q0    FBIS4-60345  1000  20111.888672  Flab8atd2

[50000 rows x 6 columns],          0   1              2    3       4         5
0      401  Q0    FBIS4-31715    0  2.6306  pir9Atd0
1      401  Q0     FBIS4-9582    1  2.5579  pir9Atd0
2      401  Q0     FBIS3-8767    2  2.3587  pir9Atd0
3      401  Q0  LA123089-0101    3  2.3229  pir9Atd0
4      401  Q0      FT924-107    4  2.3214  pir9Atd0
...    ...  ..            ...  ...     ...       ...
49995  450  Q0    FBIS3-13001  995  2.5818  pir9Atd0
49996  450  Q0    FT944-13318  996  2.5807  pir9Atd0
49997  450  Q0     FT921-8280  997  2.5802  pir9Atd0
49998  450  Q0    FBIS4-14359  998  2.5780  pir9Atd0
49999  450  Q0  LA042389-0056  999  2.5773  pir9Atd0

[50000 rows x 6 columns],          0   1              2     3         4        5
0      401  Q0    FT932-10861     1  0.437877  GE8ATD3
1      401  Q0     FT932-5884     2  0.423162  GE8ATD3
2      401  Q0     FT911-1796     3  0.422083  GE8ATD3
3      401  Q0     FT924-3663     4  0.421939  GE8ATD3
4      401  Q0  LA091490-0080     5  0.421367  GE8ATD3
...    ...  ..            ...   ...       ...      ...
49995  450  Q0    FBIS4-50248   996  0.419239  GE8ATD3
49996  450  Q0    FBIS4-11768   997  0.419237  GE8ATD3
49997  450  Q0    FBIS3-53299   998  0.419233  GE8ATD3
49998  450  Q0    FBIS3-53060   999  0.419225  GE8ATD3
49999  450  Q0    FBIS3-52841  1000  0.419224  GE8ATD3

[50000 rows x 6 columns],          0   1              2     3         4         5
0      401  Q0    FBIS4-18182     1  0.834366  MITSLStd
1      401  Q0     FT924-4470     2  0.824105  MITSLStd
2      401  Q0    FBIS3-17077     3  0.740365  MITSLStd
3      401  Q0     FT932-5884     4  0.631775  MITSLStd
4      401  Q0    FBIS3-20090     5  0.583836  MITSLStd
...    ...  ..            ...   ...       ...       ...
49995  450  Q0     FT933-6066   996 -0.356903  MITSLStd
49996  450  Q0     FBIS4-6814   997 -0.356962  MITSLStd
49997  450  Q0  LA121190-0027   998 -0.358896  MITSLStd
49998  450  Q0    FBIS4-51493   999 -0.358901  MITSLStd
49999  450  Q0    FBIS3-13615  1000 -0.359180  MITSLStd

[50000 rows x 6 columns],          0   1              2    3         4        5
0      401  Q0    FBIS3-17077    0  0.874967  ibms99a
1      401  Q0    FBIS4-55036    1  0.816535  ibms99a
2      401  Q0    FBIS4-18182    2  0.764794  ibms99a
3      401  Q0     FBIS3-4201    3  0.703543  ibms99a
4      401  Q0    FBIS4-66148    4  0.670180  ibms99a
...    ...  ..            ...  ...       ...      ...
49995  450  Q0    FT941-10101  995  0.341361  ibms99a
49996  450  Q0    FT934-14992  996  0.341357  ibms99a
49997  450  Q0    FBIS4-33234  997  0.341267  ibms99a
49998  450  Q0  LA122689-0083  998  0.341189  ibms99a
49999  450  Q0    FBIS4-58796  999  0.341166  ibms99a

[50000 rows x 6 columns]]

In [4]:
# Define the column names
columns = ['query_id', 'ignore', 'doc_id', 'rank', 'score', 'ignore2']

# Create an empty list to store the cleaned dataframes
cleaned_dfs_with_names = []

# Iterate over each cleaned dataframe in cleaned_dfs
for df in cleaned_dfs:
    # Rename the columns
    df = df.rename(columns=dict(enumerate(columns)))
    # Append the renamed dataframe to the new list
    cleaned_dfs_with_names.append(df)

In [5]:
print(cleaned_dfs_with_names)

[      query_id ignore       doc_id  rank  score   ignore2
0          401     Q0   FT922-9093     1  25000  READWARE
1          401     Q0   FT924-4344     2  24999  READWARE
2          401     Q0   FT924-5091     3  24998  READWARE
3          401     Q0   FT924-5839     4  24997  READWARE
4          401     Q0   FT924-7558     5  24996  READWARE
...        ...    ...          ...   ...    ...       ...
3055       450     Q0   FT943-9994   159  13986  READWARE
3056       450     Q0  FBIS3-33777   160  13000  READWARE
3057       450     Q0  FBIS3-52235   161  12000  READWARE
3058       450     Q0  FBIS4-12807   162  11000  READWARE
3059       450     Q0  FBIS4-37770   163  10999  READWARE

[3060 rows x 6 columns],        query_id ignore       doc_id  rank     score ignore2
0           401     Q0   FT911-1796     1  0.461869  INQ601
1           401     Q0  FBIS4-55036     2  0.446217  INQ601
2           401     Q0  FBIS3-18916     3  0.444678  INQ601
3           401     Q0  FBIS3-18833     4  0.442222  INQ601
4           401     Q0  FBIS3-17077     5  0.441394  INQ601
...         ...    ...          ...   ...       ...     ...
49995       450     Q0   FT934-2310   996  0.434220  INQ601
49996       450     Q0  FBIS3-56284   997  0.434217  INQ601
49997       450     Q0    FT944-547   998  0.434203  INQ601
49998       450     Q0  FBIS3-54144   999  0.434201  INQ601
49999       450     Q0  FBIS4-37525  1000  0.434192  INQ601

[50000 rows x 6 columns],        query_id ignore       doc_id  rank      score ignore2
0           401     Q0    FT941-230     1  12.573170  Sab8A1
1           401     Q0   FT924-4470     2  12.210987  Sab8A1
2           401     Q0   FT941-1403     3  11.885273  Sab8A1
3           401     Q0   FT911-1796     4  11.673589  Sab8A1
4           401     Q0   FT941-4640     5  11.659075  Sab8A1
...         ...    ...          ...   ...        ...     ...
49995       450     Q0  FBIS4-12782   996  11.167779  Sab8A1
49996       450     Q0   FT944-8278   997  11.164985  Sab8A1
49997       450     Q0   FT911-3549   998  11.164135  Sab8A1
49998       450     Q0  FT923-15612   999  11.160301  Sab8A1
49999       450     Q0  FT934-10241  1000  11.153819  Sab8A1

[50000 rows x 6 columns],        query_id ignore       doc_id  rank      score  ignore2
0           401     Q0  FBIS4-55036     1  60.587582  mds08a3
1           401     Q0  FBIS3-38236     2  60.456001  mds08a3
2           401     Q0  FBIS4-65434     3  60.362904  mds08a3
3           401     Q0  FBIS4-18182     4  60.157059  mds08a3
4           401     Q0   FBIS4-9157     6  59.166615  mds08a3
...         ...    ...          ...   ...        ...      ...
49995       450     Q0   FT921-7236   996  64.620201  mds08a3
49996       450     Q0  FBIS4-13313   997  64.563713  mds08a3
49997       450     Q0  FBIS4-15060   998  64.553299  mds08a3
49998       450     Q0  FBIS3-34835   999  64.534149  mds08a3
49999       450     Q0  FBIS4-14306  1000  64.533653  mds08a3

[50000 rows x 6 columns],        query_id ignore         doc_id  rank   score ignore2
0           401     Q0    FBIS4-19680     1  1000.0  isa50t
1           401     Q0  LA103089-0066     2   999.0  isa50t
2           401     Q0    FBIS4-55625     3   998.0  isa50t
3           401     Q0    FT921-11087     4   997.0  isa50t
4           401     Q0     FT944-8635     5   996.0  isa50t
...         ...    ...            ...   ...     ...     ...
49060       450     Q0    FT943-16762   996     5.0  isa50t
49061       450     Q0  LA011590-0020   997     4.0  isa50t
49062       450     Q0  LA031289-0055   998     3.0  isa50t
49063       450     Q0  LA031389-0063   999     2.0  isa50t
49064       450     Q0  LA072790-0028  1000     1.0  isa50t

[49065 rows x 6 columns],        query_id ignore         doc_id  rank     score ignore2
0           401     Q0    FBIS4-18182     0  3.304330  ok8alx
1           401     Q0    FBIS3-18916     1  3.059850  ok8alx
2           401     Q0    FBIS3-18833     2  3.019000  ok8alx
3           401     Q0     FT911-1796     3  2.903060  ok8alx
4           401     Q0    FBIS3-59042     4  2.897510  ok8alx
...         ...    ...            ...   ...       ...     ...
49995       450     Q0    FBIS3-13198   995  0.857474  ok8alx
49996       450     Q0  LA022289-0054   996  0.856684  ok8alx
49997       450     Q0  LA091190-0052   997  0.856638  ok8alx
49998       450     Q0     FT924-1460   998  0.856591  ok8alx
49999       450     Q0    FBIS3-39821   999  0.856017  ok8alx

[50000 rows x 6 columns],        query_id ignore       doc_id  rank      score   ignore2
0           401     Q0  FT922-14939     1  19.609444  att99ate
1           401     Q0  FT922-10801     2  18.003141  att99ate
2           401     Q0  FT922-15552     3  17.388166  att99ate
3           401     Q0  FBIS3-20090     4  17.340698  att99ate
4           401     Q0  FT922-10979     5  17.248894  att99ate
...         ...    ...          ...   ...        ...       ...
49995       450     Q0   FT923-1001   996  20.951300  att99ate
49996       450     Q0  FBIS4-38174   997  20.951221  att99ate
49997       450     Q0  FBIS4-11808   998  20.938559  att99ate
49998       450     Q0  FBIS4-13138   999  20.936655  att99ate
49999       450     Q0    FT911-305  1000  20.936275  att99ate

[50000 rows x 6 columns],        query_id ignore         doc_id  rank         score     ignore2
0           401     Q0     FT924-5091     0  10015.175781  acsys8aln2
1           401     Q0    FBIS3-39240     1  10014.111328  acsys8aln2
2           401     Q0     FT924-4470     2  10013.638672  acsys8aln2
3           401     Q0    FBIS4-18182     3  10013.591797  acsys8aln2
4           401     Q0    FBIS3-59055     4  10013.441406  acsys8aln2
...         ...    ...            ...   ...           ...         ...
49995       450     Q0    FBIS3-53597   995  10012.497070  acsys8aln2
49996       450     Q0    FBIS3-34689   996  10012.493164  acsys8aln2
49997       450     Q0    FT942-15243   997  10012.483398  acsys8aln2
49998       450     Q0    FBIS3-54404   998  10012.474609  acsys8aln2
49999       450     Q0  LA120290-0130   999  10012.472656  acsys8aln2

[50000 rows x 6 columns],        query_id ignore       doc_id  rank  score ignore2
0           401     Q0  FBIS3-24653    29   75.0  disco1
1           401     Q0  FBIS4-23131    26   75.0  disco1
2           401     Q0     FBIS3-29    45   72.0  disco1
3           401     Q0  FBIS3-37947    32   72.0  disco1
4           401     Q0  FBIS3-43132    50   72.0  disco1
...         ...    ...          ...   ...    ...     ...
37136       450     Q0  FT921-12459  3485   40.0  disco1
37137       450     Q0   FT921-1287  3831   40.0  disco1
37138       450     Q0  FT921-13087  3179   40.0  disco1
37139       450     Q0  FT921-13708  2883   40.0  disco1
37140       450     Q0  FT921-13984  4302   40.0  disco1

[37141 rows x 6 columns],        query_id ignore         doc_id  rank   score   ignore2
0           401     Q0     FT942-5121     2  8.3846  apl8c621
1           401     Q0     FT942-5131     1  8.3846  apl8c621
2           401     Q0     FT924-7558     3  6.6410  apl8c621
3           401     Q0    FT931-10513     4  5.9905  apl8c621
4           401     Q0     FT944-6909     5  5.4853  apl8c621
...         ...    ...            ...   ...     ...       ...
49995       450     Q0     FT941-4191   996  0.2272  apl8c621
49996       450     Q0    FBIS3-42205   998  0.2256  apl8c621
49997       450     Q0     FT941-2056   997  0.2256  apl8c621
49998       450     Q0  LA033190-0069   999  0.2240  apl8c621
49999       450     Q0    FBIS4-14287  1000  0.2232  apl8c621

[50000 rows x 6 columns],        query_id ignore         doc_id  rank         score    ignore2
0           401     Q0     FBIS4-9582     1  21885.191406  Flab8atd2
1           401     Q0    FBIS4-18182     2  20682.982422  Flab8atd2
2           401     Q0    FBIS4-62200     3  19856.041016  Flab8atd2
3           401     Q0    FBIS4-54440     4  19504.779297  Flab8atd2
4           401     Q0    FBIS3-20090     5  19278.716797  Flab8atd2
...         ...    ...            ...   ...           ...        ...
49995       450     Q0     FT934-4868   996  20130.666016  Flab8atd2
49996       450     Q0    FBIS4-61930   997  20129.125000  Flab8atd2
49997       450     Q0  LA120890-0016   998  20114.947266  Flab8atd2
49998       450     Q0    FBIS3-52453   999  20114.148438  Flab8atd2
49999       450     Q0    FBIS4-60345  1000  20111.888672  Flab8atd2

[50000 rows x 6 columns],        query_id ignore         doc_id  rank   score   ignore2
0           401     Q0    FBIS4-31715     0  2.6306  pir9Atd0
1           401     Q0     FBIS4-9582     1  2.5579  pir9Atd0
2           401     Q0     FBIS3-8767     2  2.3587  pir9Atd0
3           401     Q0  LA123089-0101     3  2.3229  pir9Atd0
4           401     Q0      FT924-107     4  2.3214  pir9Atd0
...         ...    ...            ...   ...     ...       ...
49995       450     Q0    FBIS3-13001   995  2.5818  pir9Atd0
49996       450     Q0    FT944-13318   996  2.5807  pir9Atd0
49997       450     Q0     FT921-8280   997  2.5802  pir9Atd0
49998       450     Q0    FBIS4-14359   998  2.5780  pir9Atd0
49999       450     Q0  LA042389-0056   999  2.5773  pir9Atd0

[50000 rows x 6 columns],        query_id ignore         doc_id  rank     score  ignore2
0           401     Q0    FT932-10861     1  0.437877  GE8ATD3
1           401     Q0     FT932-5884     2  0.423162  GE8ATD3
2           401     Q0     FT911-1796     3  0.422083  GE8ATD3
3           401     Q0     FT924-3663     4  0.421939  GE8ATD3
4           401     Q0  LA091490-0080     5  0.421367  GE8ATD3
...         ...    ...            ...   ...       ...      ...
49995       450     Q0    FBIS4-50248   996  0.419239  GE8ATD3
49996       450     Q0    FBIS4-11768   997  0.419237  GE8ATD3
49997       450     Q0    FBIS3-53299   998  0.419233  GE8ATD3
49998       450     Q0    FBIS3-53060   999  0.419225  GE8ATD3
49999       450     Q0    FBIS3-52841  1000  0.419224  GE8ATD3

[50000 rows x 6 columns],        query_id ignore         doc_id  rank     score   ignore2
0           401     Q0    FBIS4-18182     1  0.834366  MITSLStd
1           401     Q0     FT924-4470     2  0.824105  MITSLStd
2           401     Q0    FBIS3-17077     3  0.740365  MITSLStd
3           401     Q0     FT932-5884     4  0.631775  MITSLStd
4           401     Q0    FBIS3-20090     5  0.583836  MITSLStd
...         ...    ...            ...   ...       ...       ...
49995       450     Q0     FT933-6066   996 -0.356903  MITSLStd
49996       450     Q0     FBIS4-6814   997 -0.356962  MITSLStd
49997       450     Q0  LA121190-0027   998 -0.358896  MITSLStd
49998       450     Q0    FBIS4-51493   999 -0.358901  MITSLStd
49999       450     Q0    FBIS3-13615  1000 -0.359180  MITSLStd

[50000 rows x 6 columns],        query_id ignore         doc_id  rank     score  ignore2
0           401     Q0    FBIS3-17077     0  0.874967  ibms99a
1           401     Q0    FBIS4-55036     1  0.816535  ibms99a
2           401     Q0    FBIS4-18182     2  0.764794  ibms99a
3           401     Q0     FBIS3-4201     3  0.703543  ibms99a
4           401     Q0    FBIS4-66148     4  0.670180  ibms99a
...         ...    ...            ...   ...       ...      ...
49995       450     Q0    FT941-10101   995  0.341361  ibms99a
49996       450     Q0    FT934-14992   996  0.341357  ibms99a
49997       450     Q0    FBIS4-33234   997  0.341267  ibms99a
49998       450     Q0  LA122689-0083   998  0.341189  ibms99a
49999       450     Q0    FBIS4-58796   999  0.341166  ibms99a

[50000 rows x 6 columns]]

In [6]:
# loop over the dataframes and print the first and third columns
for i, cleaned_df in enumerate(cleaned_dfs_with_names):
    print(f"Columns of dataframe {i+1}:")
    print("First column:", cleaned_df.iloc[:, 0])
    print("Third column:", cleaned_df.iloc[:, 2])

Columns of dataframe 1:
First column: 0       401
1       401
2       401
3       401
4       401
       ...
3055    450
3056    450
3057    450
3058    450
3059    450
Name: query_id, Length: 3060, dtype: int64
Third column: 0        FT922-9093
1        FT924-4344
2        FT924-5091
3        FT924-5839
4        FT924-7558
           ...
3055     FT943-9994
3056    FBIS3-33777
3057    FBIS3-52235
3058    FBIS4-12807
3059    FBIS4-37770
Name: doc_id, Length: 3060, dtype: object
Columns of dataframe 2:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0         FT911-1796
1        FBIS4-55036
2        FBIS3-18916
3        FBIS3-18833
4        FBIS3-17077
            ...
49995     FT934-2310
49996    FBIS3-56284
49997      FT944-547
49998    FBIS3-54144
49999    FBIS4-37525
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 3:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0          FT941-230
1         FT924-4470
2         FT941-1403
3         FT911-1796
4         FT941-4640
            ...
49995    FBIS4-12782
49996     FT944-8278
49997     FT911-3549
49998    FT923-15612
49999    FT934-10241
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 4:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0        FBIS4-55036
1        FBIS3-38236
2        FBIS4-65434
3        FBIS4-18182
4         FBIS4-9157
            ...
49995     FT921-7236
49996    FBIS4-13313
49997    FBIS4-15060
49998    FBIS3-34835
49999    FBIS4-14306
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 5:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49060    450
49061    450
49062    450
49063    450
49064    450
Name: query_id, Length: 49065, dtype: int64
Third column: 0          FBIS4-19680
1        LA103089-0066
2          FBIS4-55625
3          FT921-11087
4           FT944-8635
             ...
49060      FT943-16762
49061    LA011590-0020
49062    LA031289-0055
49063    LA031389-0063
49064    LA072790-0028
Name: doc_id, Length: 49065, dtype: object
Columns of dataframe 6:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0          FBIS4-18182
1          FBIS3-18916
2          FBIS3-18833
3           FT911-1796
4          FBIS3-59042
             ...
49995      FBIS3-13198
49996    LA022289-0054
49997    LA091190-0052
49998       FT924-1460
49999      FBIS3-39821
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 7:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0        FT922-14939
1        FT922-10801
2        FT922-15552
3        FBIS3-20090
4        FT922-10979
            ...
49995     FT923-1001
49996    FBIS4-38174
49997    FBIS4-11808
49998    FBIS4-13138
49999      FT911-305
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 8:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0           FT924-5091
1          FBIS3-39240
2           FT924-4470
3          FBIS4-18182
4          FBIS3-59055
             ...
49995      FBIS3-53597
49996      FBIS3-34689
49997      FT942-15243
49998      FBIS3-54404
49999    LA120290-0130
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 9:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
37136    450
37137    450
37138    450
37139    450
37140    450
Name: query_id, Length: 37141, dtype: int64
Third column: 0        FBIS3-24653
1        FBIS4-23131
2           FBIS3-29
3        FBIS3-37947
4        FBIS3-43132
            ...
37136    FT921-12459
37137     FT921-1287
37138    FT921-13087
37139    FT921-13708
37140    FT921-13984
Name: doc_id, Length: 37141, dtype: object
Columns of dataframe 10:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0           FT942-5121
1           FT942-5131
2           FT924-7558
3          FT931-10513
4           FT944-6909
             ...
49995       FT941-4191
49996      FBIS3-42205
49997       FT941-2056
49998    LA033190-0069
49999      FBIS4-14287
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 11:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0           FBIS4-9582
1          FBIS4-18182
2          FBIS4-62200
3          FBIS4-54440
4          FBIS3-20090
             ...
49995       FT934-4868
49996      FBIS4-61930
49997    LA120890-0016
49998      FBIS3-52453
49999      FBIS4-60345
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 12:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0          FBIS4-31715
1           FBIS4-9582
2           FBIS3-8767
3        LA123089-0101
4            FT924-107
             ...
49995      FBIS3-13001
49996      FT944-13318
49997       FT921-8280
49998      FBIS4-14359
49999    LA042389-0056
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 13:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0          FT932-10861
1           FT932-5884
2           FT911-1796
3           FT924-3663
4        LA091490-0080
             ...
49995      FBIS4-50248
49996      FBIS4-11768
49997      FBIS3-53299
49998      FBIS3-53060
49999      FBIS3-52841
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 14:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0          FBIS4-18182
1           FT924-4470
2          FBIS3-17077
3           FT932-5884
4          FBIS3-20090
             ...
49995       FT933-6066
49996       FBIS4-6814
49997    LA121190-0027
49998      FBIS4-51493
49999      FBIS3-13615
Name: doc_id, Length: 50000, dtype: object
Columns of dataframe 15:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49995    450
49996    450
49997    450
49998    450
49999    450
Name: query_id, Length: 50000, dtype: int64
Third column: 0          FBIS3-17077
1          FBIS4-55036
2          FBIS4-18182
3           FBIS3-4201
4          FBIS4-66148
             ...
49995      FT941-10101
49996      FT934-14992
49997      FBIS4-33234
49998    LA122689-0083
49999      FBIS4-58796
Name: doc_id, Length: 50000, dtype: object

Data Analysis Part

In [7]:
merged_df = []
for df in cleaned_dfs_with_names:
    cleaned_df_with_qrel = pd.merge(df, qrels_df, on=['query_id','doc_id'], how='left')
    cleaned_df_with_qrel['relevance'] = cleaned_df_with_qrel['relevance'].fillna(0)
    merged_df.append(cleaned_df_with_qrel)
    print(cleaned_df_with_qrel.shape)

(3060, 8)
(50000, 8)
(50000, 8)
(50000, 8)
(49065, 8)
(50000, 8)
(50000, 8)
(50000, 8)
(37141, 8)
(50000, 8)
(50000, 8)
(50000, 8)
(50000, 8)
(50000, 8)
(50000, 8)

In [8]:
print(merged_df)

[      query_id ignore_x       doc_id  rank  score   ignore2  ignore_y
0          401       Q0   FT922-9093     1  25000  READWARE       0.0  \
1          401       Q0   FT924-4344     2  24999  READWARE       0.0
2          401       Q0   FT924-5091     3  24998  READWARE       0.0
3          401       Q0   FT924-5839     4  24997  READWARE       0.0
4          401       Q0   FT924-7558     5  24996  READWARE       0.0
...        ...      ...          ...   ...    ...       ...       ...
3055       450       Q0   FT943-9994   159  13986  READWARE       0.0
3056       450       Q0  FBIS3-33777   160  13000  READWARE       0.0
3057       450       Q0  FBIS3-52235   161  12000  READWARE       0.0
3058       450       Q0  FBIS4-12807   162  11000  READWARE       0.0
3059       450       Q0  FBIS4-37770   163  10999  READWARE       0.0

      relevance
0           1.0
1           1.0
2           1.0
3           1.0
4           1.0
...         ...
3055        1.0
3056        1.0
3057        1.0
3058        1.0
3059        1.0

[3060 rows x 8 columns],        query_id ignore_x       doc_id  rank     score ignore2  ignore_y
0           401       Q0   FT911-1796     1  0.461869  INQ601       0.0  \
1           401       Q0  FBIS4-55036     2  0.446217  INQ601       0.0
2           401       Q0  FBIS3-18916     3  0.444678  INQ601       0.0
3           401       Q0  FBIS3-18833     4  0.442222  INQ601       0.0
4           401       Q0  FBIS3-17077     5  0.441394  INQ601       0.0
...         ...      ...          ...   ...       ...     ...       ...
49995       450       Q0   FT934-2310   996  0.434220  INQ601       NaN
49996       450       Q0  FBIS3-56284   997  0.434217  INQ601       NaN
49997       450       Q0    FT944-547   998  0.434203  INQ601       NaN
49998       450       Q0  FBIS3-54144   999  0.434201  INQ601       NaN
49999       450       Q0  FBIS4-37525  1000  0.434192  INQ601       NaN

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
49995        0.0
49996        0.0
49997        0.0
49998        0.0
49999        0.0

[50000 rows x 8 columns],        query_id ignore_x       doc_id  rank      score ignore2  ignore_y
0           401       Q0    FT941-230     1  12.573170  Sab8A1       0.0  \
1           401       Q0   FT924-4470     2  12.210987  Sab8A1       0.0
2           401       Q0   FT941-1403     3  11.885273  Sab8A1       0.0
3           401       Q0   FT911-1796     4  11.673589  Sab8A1       0.0
4           401       Q0   FT941-4640     5  11.659075  Sab8A1       0.0
...         ...      ...          ...   ...        ...     ...       ...
49995       450       Q0  FBIS4-12782   996  11.167779  Sab8A1       0.0
49996       450       Q0   FT944-8278   997  11.164985  Sab8A1       NaN
49997       450       Q0   FT911-3549   998  11.164135  Sab8A1       0.0
49998       450       Q0  FT923-15612   999  11.160301  Sab8A1       NaN
49999       450       Q0  FT934-10241  1000  11.153819  Sab8A1       NaN

       relevance
0            0.0
1            1.0
2            0.0
3            0.0
4            0.0
...          ...
49995        1.0
49996        0.0
49997        0.0
49998        0.0
49999        0.0

[50000 rows x 8 columns],        query_id ignore_x       doc_id  rank      score  ignore2  ignore_y
0           401       Q0  FBIS4-55036     1  60.587582  mds08a3       0.0  \
1           401       Q0  FBIS3-38236     2  60.456001  mds08a3       0.0
2           401       Q0  FBIS4-65434     3  60.362904  mds08a3       0.0
3           401       Q0  FBIS4-18182     4  60.157059  mds08a3       0.0
4           401       Q0   FBIS4-9157     6  59.166615  mds08a3       0.0
...         ...      ...          ...   ...        ...      ...       ...
49995       450       Q0   FT921-7236   996  64.620201  mds08a3       NaN
49996       450       Q0  FBIS4-13313   997  64.563713  mds08a3       NaN
49997       450       Q0  FBIS4-15060   998  64.553299  mds08a3       NaN
49998       450       Q0  FBIS3-34835   999  64.534149  mds08a3       NaN
49999       450       Q0  FBIS4-14306  1000  64.533653  mds08a3       NaN

       relevance
0            0.0
1            0.0
2            1.0
3            0.0
4            0.0
...          ...
49995        0.0
49996        0.0
49997        0.0
49998        0.0
49999        0.0

[50000 rows x 8 columns],        query_id ignore_x         doc_id  rank   score ignore2  ignore_y
0           401       Q0    FBIS4-19680     1  1000.0  isa50t       0.0  \
1           401       Q0  LA103089-0066     2   999.0  isa50t       NaN
2           401       Q0    FBIS4-55625     3   998.0  isa50t       NaN
3           401       Q0    FT921-11087     4   997.0  isa50t       0.0
4           401       Q0     FT944-8635     5   996.0  isa50t       0.0
...         ...      ...            ...   ...     ...     ...       ...
49060       450       Q0    FT943-16762   996     5.0  isa50t       NaN
49061       450       Q0  LA011590-0020   997     4.0  isa50t       NaN
49062       450       Q0  LA031289-0055   998     3.0  isa50t       NaN
49063       450       Q0  LA031389-0063   999     2.0  isa50t       NaN
49064       450       Q0  LA072790-0028  1000     1.0  isa50t       NaN

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
49060        0.0
49061        0.0
49062        0.0
49063        0.0
49064        0.0

[49065 rows x 8 columns],        query_id ignore_x         doc_id  rank     score ignore2  ignore_y
0           401       Q0    FBIS4-18182     0  3.304330  ok8alx       0.0  \
1           401       Q0    FBIS3-18916     1  3.059850  ok8alx       0.0
2           401       Q0    FBIS3-18833     2  3.019000  ok8alx       0.0
3           401       Q0     FT911-1796     3  2.903060  ok8alx       0.0
4           401       Q0    FBIS3-59042     4  2.897510  ok8alx       0.0
...         ...      ...            ...   ...       ...     ...       ...
49995       450       Q0    FBIS3-13198   995  0.857474  ok8alx       NaN
49996       450       Q0  LA022289-0054   996  0.856684  ok8alx       0.0
49997       450       Q0  LA091190-0052   997  0.856638  ok8alx       NaN
49998       450       Q0     FT924-1460   998  0.856591  ok8alx       NaN
49999       450       Q0    FBIS3-39821   999  0.856017  ok8alx       NaN

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            1.0
...          ...
49995        0.0
49996        1.0
49997        0.0
49998        0.0
49999        0.0

[50000 rows x 8 columns],        query_id ignore_x       doc_id  rank      score   ignore2  ignore_y
0           401       Q0  FT922-14939     1  19.609444  att99ate       0.0  \
1           401       Q0  FT922-10801     2  18.003141  att99ate       0.0
2           401       Q0  FT922-15552     3  17.388166  att99ate       0.0
3           401       Q0  FBIS3-20090     4  17.340698  att99ate       0.0
4           401       Q0  FT922-10979     5  17.248894  att99ate       0.0
...         ...      ...          ...   ...        ...       ...       ...
49995       450       Q0   FT923-1001   996  20.951300  att99ate       NaN
49996       450       Q0  FBIS4-38174   997  20.951221  att99ate       NaN
49997       450       Q0  FBIS4-11808   998  20.938559  att99ate       NaN
49998       450       Q0  FBIS4-13138   999  20.936655  att99ate       NaN
49999       450       Q0    FT911-305  1000  20.936275  att99ate       0.0

       relevance
0            1.0
1            0.0
2            0.0
3            1.0
4            0.0
...          ...
49995        0.0
49996        0.0
49997        0.0
49998        0.0
49999        0.0

[50000 rows x 8 columns],        query_id ignore_x         doc_id  rank         score     ignore2
0           401       Q0     FT924-5091     0  10015.175781  acsys8aln2  \
1           401       Q0    FBIS3-39240     1  10014.111328  acsys8aln2
2           401       Q0     FT924-4470     2  10013.638672  acsys8aln2
3           401       Q0    FBIS4-18182     3  10013.591797  acsys8aln2
4           401       Q0    FBIS3-59055     4  10013.441406  acsys8aln2
...         ...      ...            ...   ...           ...         ...
49995       450       Q0    FBIS3-53597   995  10012.497070  acsys8aln2
49996       450       Q0    FBIS3-34689   996  10012.493164  acsys8aln2
49997       450       Q0    FT942-15243   997  10012.483398  acsys8aln2
49998       450       Q0    FBIS3-54404   998  10012.474609  acsys8aln2
49999       450       Q0  LA120290-0130   999  10012.472656  acsys8aln2

       ignore_y  relevance
0           0.0        1.0
1           0.0        1.0
2           0.0        1.0
3           0.0        0.0
4           0.0        1.0
...         ...        ...
49995       NaN        0.0
49996       0.0        1.0
49997       NaN        0.0
49998       0.0        0.0
49999       0.0        0.0

[50000 rows x 8 columns],        query_id ignore_x       doc_id  rank  score ignore2  ignore_y
0           401       Q0  FBIS3-24653    29   75.0  disco1       0.0  \
1           401       Q0  FBIS4-23131    26   75.0  disco1       0.0
2           401       Q0     FBIS3-29    45   72.0  disco1       0.0
3           401       Q0  FBIS3-37947    32   72.0  disco1       0.0
4           401       Q0  FBIS3-43132    50   72.0  disco1       0.0
...         ...      ...          ...   ...    ...     ...       ...
37136       450       Q0  FT921-12459  3485   40.0  disco1       NaN
37137       450       Q0   FT921-1287  3831   40.0  disco1       NaN
37138       450       Q0  FT921-13087  3179   40.0  disco1       NaN
37139       450       Q0  FT921-13708  2883   40.0  disco1       NaN
37140       450       Q0  FT921-13984  4302   40.0  disco1       NaN

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
37136        0.0
37137        0.0
37138        0.0
37139        0.0
37140        0.0

[37141 rows x 8 columns],        query_id ignore_x         doc_id  rank   score   ignore2  ignore_y
0           401       Q0     FT942-5121     2  8.3846  apl8c621       0.0  \
1           401       Q0     FT942-5131     1  8.3846  apl8c621       0.0
2           401       Q0     FT924-7558     3  6.6410  apl8c621       0.0
3           401       Q0    FT931-10513     4  5.9905  apl8c621       0.0
4           401       Q0     FT944-6909     5  5.4853  apl8c621       0.0
...         ...      ...            ...   ...     ...       ...       ...
49995       450       Q0     FT941-4191   996  0.2272  apl8c621       NaN
49996       450       Q0    FBIS3-42205   998  0.2256  apl8c621       NaN
49997       450       Q0     FT941-2056   997  0.2256  apl8c621       NaN
49998       450       Q0  LA033190-0069   999  0.2240  apl8c621       0.0
49999       450       Q0    FBIS4-14287  1000  0.2232  apl8c621       NaN

       relevance
0            1.0
1            1.0
2            1.0
3            1.0
4            1.0
...          ...
49995        0.0
49996        0.0
49997        0.0
49998        0.0
49999        0.0

[50000 rows x 8 columns],        query_id ignore_x         doc_id  rank         score    ignore2
0           401       Q0     FBIS4-9582     1  21885.191406  Flab8atd2  \
1           401       Q0    FBIS4-18182     2  20682.982422  Flab8atd2
2           401       Q0    FBIS4-62200     3  19856.041016  Flab8atd2
3           401       Q0    FBIS4-54440     4  19504.779297  Flab8atd2
4           401       Q0    FBIS3-20090     5  19278.716797  Flab8atd2
...         ...      ...            ...   ...           ...        ...
49995       450       Q0     FT934-4868   996  20130.666016  Flab8atd2
49996       450       Q0    FBIS4-61930   997  20129.125000  Flab8atd2
49997       450       Q0  LA120890-0016   998  20114.947266  Flab8atd2
49998       450       Q0    FBIS3-52453   999  20114.148438  Flab8atd2
49999       450       Q0    FBIS4-60345  1000  20111.888672  Flab8atd2

       ignore_y  relevance
0           0.0        0.0
1           0.0        0.0
2           0.0        0.0
3           0.0        0.0
4           0.0        1.0
...         ...        ...
49995       0.0        0.0
49996       NaN        0.0
49997       NaN        0.0
49998       0.0        1.0
49999       NaN        0.0

[50000 rows x 8 columns],        query_id ignore_x         doc_id  rank   score   ignore2  ignore_y
0           401       Q0    FBIS4-31715     0  2.6306  pir9Atd0       0.0  \
1           401       Q0     FBIS4-9582     1  2.5579  pir9Atd0       0.0
2           401       Q0     FBIS3-8767     2  2.3587  pir9Atd0       0.0
3           401       Q0  LA123089-0101     3  2.3229  pir9Atd0       0.0
4           401       Q0      FT924-107     4  2.3214  pir9Atd0       0.0
...         ...      ...            ...   ...     ...       ...       ...
49995       450       Q0    FBIS3-13001   995  2.5818  pir9Atd0       NaN
49996       450       Q0    FT944-13318   996  2.5807  pir9Atd0       0.0
49997       450       Q0     FT921-8280   997  2.5802  pir9Atd0       NaN
49998       450       Q0    FBIS4-14359   998  2.5780  pir9Atd0       0.0
49999       450       Q0  LA042389-0056   999  2.5773  pir9Atd0       NaN

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
49995        0.0
49996        0.0
49997        0.0
49998        1.0
49999        0.0

[50000 rows x 8 columns],        query_id ignore_x         doc_id  rank     score  ignore2  ignore_y
0           401       Q0    FT932-10861     1  0.437877  GE8ATD3       0.0  \
1           401       Q0     FT932-5884     2  0.423162  GE8ATD3       0.0
2           401       Q0     FT911-1796     3  0.422083  GE8ATD3       0.0
3           401       Q0     FT924-3663     4  0.421939  GE8ATD3       0.0
4           401       Q0  LA091490-0080     5  0.421367  GE8ATD3       0.0
...         ...      ...            ...   ...       ...      ...       ...
49995       450       Q0    FBIS4-50248   996  0.419239  GE8ATD3       NaN
49996       450       Q0    FBIS4-11768   997  0.419237  GE8ATD3       NaN
49997       450       Q0    FBIS3-53299   998  0.419233  GE8ATD3       NaN
49998       450       Q0    FBIS3-53060   999  0.419225  GE8ATD3       NaN
49999       450       Q0    FBIS3-52841  1000  0.419224  GE8ATD3       NaN

       relevance
0            0.0
1            1.0
2            0.0
3            0.0
4            0.0
...          ...
49995        0.0
49996        0.0
49997        0.0
49998        0.0
49999        0.0

[50000 rows x 8 columns],        query_id ignore_x         doc_id  rank     score   ignore2  ignore_y
0           401       Q0    FBIS4-18182     1  0.834366  MITSLStd       0.0  \
1           401       Q0     FT924-4470     2  0.824105  MITSLStd       0.0
2           401       Q0    FBIS3-17077     3  0.740365  MITSLStd       0.0
3           401       Q0     FT932-5884     4  0.631775  MITSLStd       0.0
4           401       Q0    FBIS3-20090     5  0.583836  MITSLStd       0.0
...         ...      ...            ...   ...       ...       ...       ...
49995       450       Q0     FT933-6066   996 -0.356903  MITSLStd       NaN
49996       450       Q0     FBIS4-6814   997 -0.356962  MITSLStd       NaN
49997       450       Q0  LA121190-0027   998 -0.358896  MITSLStd       0.0
49998       450       Q0    FBIS4-51493   999 -0.358901  MITSLStd       NaN
49999       450       Q0    FBIS3-13615  1000 -0.359180  MITSLStd       NaN

       relevance
0            0.0
1            1.0
2            0.0
3            1.0
4            1.0
...          ...
49995        0.0
49996        0.0
49997        0.0
49998        0.0
49999        0.0

[50000 rows x 8 columns],        query_id ignore_x         doc_id  rank     score  ignore2  ignore_y
0           401       Q0    FBIS3-17077     0  0.874967  ibms99a       0.0  \
1           401       Q0    FBIS4-55036     1  0.816535  ibms99a       0.0
2           401       Q0    FBIS4-18182     2  0.764794  ibms99a       0.0
3           401       Q0     FBIS3-4201     3  0.703543  ibms99a       0.0
4           401       Q0    FBIS4-66148     4  0.670180  ibms99a       0.0
...         ...      ...            ...   ...       ...      ...       ...
49995       450       Q0    FT941-10101   995  0.341361  ibms99a       NaN
49996       450       Q0    FT934-14992   996  0.341357  ibms99a       NaN
49997       450       Q0    FBIS4-33234   997  0.341267  ibms99a       NaN
49998       450       Q0  LA122689-0083   998  0.341189  ibms99a       NaN
49999       450       Q0    FBIS4-58796   999  0.341166  ibms99a       0.0

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
49995        0.0
49996        0.0
49997        0.0
49998        0.0
49999        1.0

[50000 rows x 8 columns]]

In [9]:
calculate_metrics_precisions = []
calculate_metrics_avg_precisions = []
temp = 0

for df in merged_df:
    freq = df['relevance'].value_counts()[1]
    temp = temp + freq

for index, df in enumerate(merged_df):
    # group by query_id
    grouped = df.groupby('query_id')

    # calculate precision for top 10
    precisions = grouped.apply(lambda x: np.sum(x['relevance'].head(10)) / 10)
    calculate_metrics_precisions.append(precisions)

    # calculate average precision
    avg_precisions = grouped.apply(lambda x: np.nan_to_num(np.sum(x['relevance'] * np.cumsum(x['relevance']) / np.arange(1, len(x['relevance']) + 1)) / np.sum(x['relevance']), nan=0.00000))
    calculate_metrics_avg_precisions.append(avg_precisions)

/var/folders/l3/_ymtxc09315_4jphjq8d1whr0000gn/T/ipykernel_82553/1445219124.py:18: RuntimeWarning: invalid value encountered in scalar divide
  avg_precisions = grouped.apply(lambda x: np.nan_to_num(np.sum(x['relevance'] * np.cumsum(x['relevance']) / np.arange(1, len(x['relevance']) + 1)) / np.sum(x['relevance']), nan=0.00000))

calculate_metrics_precisions = []
calculate_metrics_avg_precisions = []
for df in merged_df:
    # group by query_id
    grouped = df.groupby('query_id')

    # calculate precision for top 10
    precisions = grouped.apply(lambda x: np.sum(x['relevance'].head(10)) / 10)
    calculate_metrics_precisions.append(precisions)

    # calculate average precision
    avg_precisions = grouped.apply(lambda x: np.sum(x['relevance'] * np.cumsum(x['relevance']) / np.arange(1, len(x['relevance']) + 1)) / np.sum(x['relevance']))
    calculate_metrics_avg_precisions.append(avg_precisions)

In [10]:
print("calculate_metrics_precisions",calculate_metrics_precisions)
print("calculate_metrics_avg_pr",calculate_metrics_avg_precisions)

calculate_metrics_precisions [query_id
401    0.8
402    0.7
403    0.8
404    0.8
405    0.7
406    0.6
407    1.0
408    1.0
409    0.9
410    1.0
411    0.9
412    1.0
413    0.9
414    0.8
415    0.6
416    1.0
417    0.9
418    1.0
419    0.7
420    0.8
421    0.7
422    1.0
423    0.8
424    0.9
425    1.0
426    1.0
427    1.0
428    0.9
429    0.8
430    0.2
431    0.9
432    0.1
433    0.6
434    1.0
435    0.7
436    1.0
437    0.4
438    0.9
439    0.7
440    0.6
441    0.6
442    0.7
443    0.3
444    0.4
445    1.0
446    0.9
447    1.0
448    0.3
449    0.6
450    0.8
dtype: float64, query_id
401    0.1
402    0.3
403    0.8
404    0.2
405    0.1
406    0.3
407    0.7
408    0.2
409    0.3
410    1.0
411    0.5
412    0.6
413    0.0
414    0.5
415    1.0
416    0.3
417    0.3
418    0.6
419    0.2
420    0.7
421    0.0
422    0.9
423    0.9
424    0.0
425    1.0
426    0.3
427    0.5
428    0.6
429    0.3
430    0.3
431    0.5
432    0.0
433    0.1
434    0.7
435    0.5
436    0.5
437    0.0
438    0.3
439    0.0
440    0.4
441    0.8
442    0.0
443    0.4
444    0.8
445    0.9
446    0.8
447    0.3
448    0.1
449    0.3
450    0.9
dtype: float64, query_id
401    0.2
402    0.5
403    0.6
404    0.2
405    0.3
406    0.5
407    0.8
408    0.3
409    0.1
410    1.0
411    0.4
412    0.9
413    0.0
414    0.4
415    1.0
416    0.5
417    0.5
418    0.7
419    0.1
420    0.8
421    0.2
422    0.8
423    0.7
424    0.2
425    0.9
426    0.4
427    0.4
428    0.4
429    0.4
430    0.4
431    0.7
432    0.0
433    0.1
434    0.8
435    0.4
436    0.4
437    0.0
438    0.7
439    0.2
440    0.9
441    0.7
442    0.0
443    0.5
444    0.8
445    0.7
446    0.8
447    0.0
448    0.0
449    0.6
450    1.0
dtype: float64, query_id
401    0.1
402    0.7
403    0.9
404    0.1
405    0.3
406    0.3
407    0.6
408    0.4
409    0.2
410    1.0
411    0.4
412    0.2
413    0.7
414    0.2
415    0.7
416    0.4
417    0.3
418    0.9
419    0.2
420    0.4
421    0.0
422    0.3
423    0.8
424    0.1
425    0.8
426    0.4
427    0.2
428    0.2
429    0.4
430    0.3
431    0.7
432    0.0
433    0.2
434    0.7
435    0.1
436    0.3
437    0.1
438    0.1
439    0.2
440    0.1
441    0.8
442    0.1
443    0.3
444    0.9
445    0.4
446    0.1
447    1.0
448    0.2
449    0.2
450    1.0
dtype: float64, query_id
401    0.0
402    0.0
403    0.3
404    0.0
405    0.0
406    0.0
407    0.8
408    0.6
409    0.0
410    0.0
411    0.0
412    0.0
413    0.0
414    0.0
415    0.1
416    0.0
417    0.0
418    0.0
419    0.0
420    0.3
421    0.0
422    0.0
423    0.2
424    0.0
425    0.1
426    0.1
427    0.0
428    0.1
429    0.0
430    0.0
431    0.2
432    0.0
433    0.0
434    0.1
435    0.0
436    0.1
437    0.0
438    0.0
439    0.0
440    0.1
441    0.5
442    0.0
443    0.2
444    0.0
445    0.2
446    0.0
447    0.0
448    0.0
449    0.0
450    0.6
dtype: float64, query_id
401    0.1
402    1.0
403    1.0
404    0.6
405    0.3
406    0.4
407    0.9
408    0.6
409    0.2
410    1.0
411    0.7
412    0.9
413    0.8
414    0.4
415    1.0
416    0.7
417    0.6
418    1.0
419    0.1
420    0.9
421    0.1
422    1.0
423    0.9
424    0.6
425    1.0
426    0.5
427    0.5
428    0.3
429    0.4
430    0.3
431    0.8
432    0.0
433    0.2
434    0.9
435    0.5
436    0.1
437    0.1
438    0.5
439    0.2
440    0.6
441    0.6
442    0.3
443    0.5
444    0.8
445    0.5
446    0.7
447    0.6
448    0.2
449    0.7
450    0.9
dtype: float64, query_id
401    0.4
402    0.6
403    0.9
404    0.2
405    0.3
406    0.5
407    0.9
408    0.2
409    0.1
410    1.0
411    0.6
412    0.9
413    0.1
414    0.4
415    1.0
416    0.3
417    0.0
418    0.8
419    0.1
420    0.9
421    0.0
422    0.5
423    0.9
424    0.4
425    1.0
426    0.0
427    0.4
428    0.2
429    0.3
430    0.3
431    0.9
432    0.0
433    0.2
434    0.6
435    0.6
436    0.8
437    0.0
438    0.3
439    0.2
440    0.7
441    0.7
442    0.0
443    0.5
444    0.9
445    0.8
446    0.9
447    0.0
448    0.0
449    0.5
450    1.0
dtype: float64, query_id
401    0.7
402    1.0
403    1.0
404    0.4
405    0.2
406    0.4
407    0.6
408    0.4
409    0.5
410    1.0
411    0.5
412    0.7
413    0.6
414    0.4
415    1.0
416    0.4
417    0.7
418    0.7
419    0.2
420    0.3
421    0.0
422    0.6
423    0.8
424    0.5
425    0.9
426    0.5
427    0.5
428    0.2
429    0.3
430    0.4
431    0.9
432    0.0
433    0.0
434    0.9
435    0.2
436    0.1
437    0.0
438    0.3
439    0.1
440    0.4
441    0.8
442    0.0
443    0.2
444    0.9
445    0.2
446    0.8
447    0.2
448    0.2
449    0.4
450    0.9
dtype: float64, query_id
401    0.0
402    0.0
403    0.4
404    0.1
405    0.0
406    0.1
407    0.3
408    0.1
409    0.0
410    0.4
411    0.0
412    0.0
413    0.1
414    0.0
415    0.1
416    0.2
417    0.0
418    0.4
419    0.2
420    0.0
421    0.1
422    0.0
423    0.0
424    0.0
425    0.1
426    0.0
427    0.1
428    0.4
429    0.2
430    0.3
431    0.2
432    0.0
433    0.0
434    0.2
435    0.0
436    0.0
437    0.2
438    0.2
439    0.0
440    0.0
441    0.3
442    0.0
443    0.0
444    0.0
445    0.0
446    0.1
447    0.0
448    0.0
449    0.0
450    0.0
dtype: float64, query_id
401    0.9
402    0.9
403    0.9
404    0.4
405    0.6
406    0.6
407    0.9
408    0.2
409    0.3
410    1.0
411    0.9
412    0.0
413    0.7
414    0.3
415    1.0
416    0.4
417    0.5
418    0.7
419    0.3
420    0.8
421    0.0
422    0.3
423    0.9
424    0.5
425    0.7
426    0.6
427    0.5
428    0.4
429    0.1
430    0.3
431    1.0
432    0.0
433    0.1
434    0.5
435    0.4
436    0.4
437    0.0
438    0.0
439    0.0
440    0.4
441    0.7
442    0.2
443    0.1
444    1.0
445    0.8
446    0.6
447    0.9
448    0.1
449    0.4
450    1.0
dtype: float64, query_id
401    0.1
402    0.5
403    1.0
404    0.3
405    0.5
406    0.6
407    1.0
408    0.4
409    0.2
410    1.0
411    0.3
412    0.0
413    1.0
414    0.4
415    1.0
416    0.3
417    0.0
418    0.7
419    0.1
420    0.9
421    0.0
422    0.9
423    0.9
424    0.7
425    1.0
426    0.5
427    0.6
428    0.4
429    0.3
430    0.3
431    1.0
432    0.0
433    0.1
434    0.6
435    0.3
436    0.5
437    0.0
438    0.0
439    0.1
440    0.6
441    0.8
442    0.3
443    0.4
444    0.6
445    0.9
446    0.5
447    0.2
448    0.3
449    0.4
450    0.9
dtype: float64, query_id
401    0.0
402    0.1
403    0.9
404    0.5
405    0.5
406    0.6
407    0.8
408    0.4
409    0.2
410    1.0
411    0.5
412    0.7
413    0.3
414    0.3
415    1.0
416    0.3
417    0.4
418    0.6
419    0.1
420    0.8
421    0.1
422    1.0
423    0.8
424    0.2
425    0.8
426    0.8
427    0.5
428    0.0
429    0.2
430    0.3
431    0.6
432    0.0
433    0.0
434    0.9
435    0.3
436    0.9
437    0.0
438    0.4
439    0.2
440    0.8
441    0.7
442    0.1
443    0.1
444    1.0
445    0.7
446    0.8
447    1.0
448    0.2
449    0.4
450    0.8
dtype: float64, query_id
401    0.1
402    0.5
403    1.0
404    0.3
405    0.5
406    0.5
407    0.8
408    0.3
409    0.3
410    1.0
411    0.5
412    0.9
413    0.8
414    0.4
415    0.8
416    0.7
417    0.0
418    0.6
419    0.2
420    0.6
421    0.3
422    0.8
423    0.7
424    0.7
425    0.9
426    0.3
427    0.6
428    0.3
429    0.5
430    0.4
431    0.5
432    0.0
433    0.0
434    0.9
435    0.3
436    0.5
437    0.0
438    0.5
439    0.1
440    0.5
441    0.7
442    0.0
443    0.5
444    0.3
445    0.9
446    0.6
447    0.0
448    0.2
449    0.3
450    1.0
dtype: float64, query_id
401    0.3
402    0.7
403    0.9
404    0.4
405    0.2
406    0.4
407    0.7
408    0.4
409    0.4
410    1.0
411    0.5
412    0.8
413    0.4
414    0.4
415    0.9
416    0.5
417    0.6
418    0.7
419    0.3
420    0.9
421    0.0
422    0.5
423    0.9
424    0.4
425    1.0
426    0.1
427    0.7
428    0.5
429    0.3
430    0.4
431    0.9
432    0.0
433    0.2
434    0.9
435    0.2
436    0.5
437    0.1
438    0.8
439    0.1
440    0.3
441    0.8
442    0.2
443    0.5
444    1.0
445    0.8
446    0.5
447    0.4
448    0.1
449    0.2
450    0.7
dtype: float64, query_id
401    0.0
402    0.5
403    1.0
404    0.3
405    0.4
406    0.5
407    0.7
408    0.4
409    0.2
410    1.0
411    0.4
412    0.6
413    0.4
414    0.4
415    1.0
416    0.5
417    0.7
418    0.7
419    0.4
420    0.9
421    0.0
422    0.8
423    0.9
424    0.4
425    1.0
426    0.6
427    0.4
428    0.4
429    0.3
430    0.3
431    0.4
432    0.1
433    0.2
434    1.0
435    0.3
436    0.5
437    0.0
438    0.5
439    0.2
440    0.4
441    0.7
442    0.1
443    0.5
444    0.9
445    0.8
446    0.6
447    0.3
448    0.2
449    0.4
450    1.0
dtype: float64]
calculate_metrics_avg_pr [query_id
401    0.886494
402    0.757474
403    0.850590
404    0.843399
405    0.777567
406    0.656257
407    0.830961
408    0.932891
409    0.792572
410    0.623125
411    0.919772
412    0.748386
413    0.668617
414    0.515319
415    0.700053
416    0.938159
417    0.948179
418    0.887619
419    0.716382
420    0.779922
421    0.562105
422    0.941038
423    0.891988
424    0.892823
425    1.000000
426    0.947958
427    0.917702
428    0.867663
429    1.000000
430    1.000000
431    0.715883
432    0.200000
433    0.976190
434    0.966514
435    0.759801
436    0.937648
437    0.424516
438    0.770957
439    0.607791
440    0.540061
441    1.000000
442    0.800557
443    0.209281
444    1.000000
445    0.984936
446    0.851592
447    1.000000
448    1.000000
449    0.722023
450    0.898855
dtype: float64, query_id
401    0.089114
402    0.173972
403    0.741483
404    0.181481
405    0.167936
406    0.387500
407    0.421762
408    0.289035
409    0.262796
410    0.910139
411    0.295043
412    0.391078
413    0.054348
414    0.293325
415    0.531010
416    0.332623
417    0.122120
418    0.378891
419    0.079556
420    0.452678
421    0.056057
422    0.627267
423    0.553222
424    0.168364
425    0.519586
426    0.132723
427    0.249312
428    0.331663
429    0.343981
430    0.516162
431    0.389706
432    0.026233
433    0.125000
434    0.435550
435    0.264621
436    0.271813
437    0.065871
438    0.277577
439    0.120818
440    0.341069
441    0.642005
442    0.038202
443    0.236185
444    0.608668
445    0.333557
446    0.370351
447    0.325396
448    0.026958
449    0.165631
450    0.604403
dtype: float64, query_id
401    0.133187
402    0.240247
403    0.737960
404    0.206948
405    0.164085
406    0.438768
407    0.502876
408    0.242085
409    0.050198
410    0.874088
411    0.290586
412    0.577200
413    0.058481
414    0.221919
415    0.542335
416    0.334489
417    0.198626
418    0.419000
419    0.038250
420    0.488695
421    0.137775
422    0.364895
423    0.465734
424    0.200787
425    0.534200
426    0.147631
427    0.265351
428    0.352502
429    0.463512
430    0.459028
431    0.547772
432    0.003334
433    0.071029
434    0.505289
435    0.327884
436    0.208498
437    0.075664
438    0.397943
439    0.080871
440    0.467620
441    0.575642
442    0.040883
443    0.234388
444    0.640160
445    0.319766
446    0.368960
447    0.019914
448    0.021389
449    0.210215
450    0.516232
dtype: float64, query_id
401    0.109808
402    0.439844
403    0.751957
404    0.228738
405    0.200206
406    0.231931
407    0.305915
408    0.354307
409    0.223564
410    0.749877
411    0.417404
412    0.070499
413    0.296795
414    0.186644
415    0.503687
416    0.221801
417    0.075870
418    0.430729
419    0.283233
420    0.153927
421    0.029072
422    0.156275
423    0.771065
424    0.098408
425    0.426606
426    0.184884
427    0.230621
428    0.285186
429    0.339004
430    0.442484
431    0.405029
432    0.001471
433    0.138557
434    0.426709
435    0.052069
436    0.120162
437    0.054728
438    0.114984
439    0.082789
440    0.093115
441    0.655771
442    0.039080
443    0.114477
444    0.738839
445    0.189616
446    0.078546
447    0.930510
448    0.100678
449    0.175190
450    0.630096
dtype: float64, query_id
401    0.022466
402    0.052108
403    0.387609
404    0.000000
405    0.001091
406    0.000000
407    0.567553
408    0.327780
409    0.004049
410    0.000000
411    0.000000
412    0.020216
413    0.008992
414    0.008598
415    0.099652
416    0.000000
417    0.022755
418    0.000000
419    0.012008
420    0.184325
421    0.037026
422    0.000000
423    0.140557
424    0.066147
425    0.256075
426    0.090982
427    0.000000
428    0.105536
429    0.022976
430    0.076923
431    0.173611
432    0.001339
433    0.001618
434    0.500000
435    0.041747
436    0.173808
437    0.030682
438    0.087094
439    0.022000
440    0.200000
441    0.659754
442    0.000000
443    0.047527
444    0.000000
445    0.099505
446    0.004425
447    0.000000
448    0.010309
449    0.007178
450    0.246838
dtype: float64, query_id
401    0.088762
402    0.467964
403    0.872069
404    0.293555
405    0.148245
406    0.408955
407    0.452851
408    0.349429
409    0.198247
410    0.783561
411    0.562747
412    0.585159
413    0.507368
414    0.219024
415    0.600423
416    0.384733
417    0.414802
418    0.451543
419    0.222660
420    0.517370
421    0.068772
422    0.674474
423    0.639790
424    0.350688
425    0.653688
426    0.256267
427    0.368525
428    0.381609
429    0.353577
430    0.599796
431    0.487826
432    0.034664
433    0.137481
434    0.606386
435    0.233889
436    0.215006
437    0.076949
438    0.339264
439    0.092779
440    0.320260
441    0.570820
442    0.133042
443    0.181984
444    0.630334
445    0.167249
446    0.392569
447    0.695509
448    0.163052
449    0.223339
450    0.618849
dtype: float64, query_id
401    0.276485
402    0.286207
403    0.819372
404    0.217680
405    0.209780
406    0.498380
407    0.588818
408    0.279555
409    0.171535
410    0.883749
411    0.335603
412    0.534737
413    0.067907
414    0.259575
415    0.694458
416    0.307684
417    0.015761
418    0.501930
419    0.087603
420    0.475879
421    0.097973
422    0.266949
423    0.536445
424    0.168047
425    0.591537
426    0.088079
427    0.262958
428    0.319210
429    0.301830
430    0.310317
431    0.529011
432    0.000000
433    0.119093
434    0.472899
435    0.301754
436    0.425972
437    0.069123
438    0.243288
439    0.078779
440    0.471228
441    0.617018
442    0.023047
443    0.188913
444    0.939675
445    0.405063
446    0.547017
447    0.104485
448    0.016005
449    0.163286
450    0.545127
dtype: float64, query_id
401    0.370660
402    0.429470
403    0.895746
404    0.254407
405    0.185962
406    0.340204
407    0.357352
408    0.393592
409    0.227681
410    0.859388
411    0.454482
412    0.267579
413    0.398717
414    0.293368
415    0.607209
416    0.377666
417    0.357952
418    0.403138
419    0.193948
420    0.208235
421    0.027328
422    0.419717
423    0.562505
424    0.373461
425    0.466693
426    0.226031
427    0.256019
428    0.200310
429    0.384214
430    0.552742
431    0.555046
432    0.011412
433    0.036292
434    0.515165
435    0.125581
436    0.131813
437    0.050915
438    0.248772
439    0.227465
440    0.223420
441    0.497535
442    0.036513
443    0.095318
444    0.581944
445    0.129827
446    0.288474
447    0.206104
448    0.123219
449    0.214194
450    0.620687
dtype: float64, query_id
401    0.003749
402    0.000000
403    0.352071
404    0.079559
405    0.000000
406    0.096496
407    0.291447
408    0.061905
409    0.091831
410    0.441190
411    0.000000
412    0.027804
413    0.054650
414    0.052939
415    0.066089
416    0.236111
417    0.082459
418    0.438845
419    0.063318
420    0.037175
421    0.078287
422    0.019312
423    0.004578
424    0.009372
425    0.133310
426    0.028201
427    0.038411
428    0.228063
429    0.302734
430    0.397619
431    0.089627
432    0.000000
433    0.000000
434    0.272369
435    0.043948
436    0.019472
437    0.110149
438    0.081726
439    0.034911
440    0.043047
441    0.455364
442    0.000000
443    0.020993
444    0.000000
445    0.000000
446    0.051479
447    0.000000
448    0.002465
449    0.074702
450    0.024085
dtype: float64, query_id
401    0.483293
402    0.412671
403    0.827710
404    0.254485
405    0.339911
406    0.448524
407    0.536246
408    0.360585
409    0.231311
410    0.802568
411    0.547351
412    0.074274
413    0.399694
414    0.212148
415    0.624747
416    0.323622
417    0.172656
418    0.434751
419    0.324082
420    0.461025
421    0.042605
422    0.360930
423    0.675331
424    0.361986
425    0.450526
426    0.238952
427    0.325985
428    0.311187
429    0.200409
430    0.589103
431    0.476630
432    0.033439
433    0.067865
434    0.342184
435    0.267314
436    0.172951
437    0.030005
438    0.135327
439    0.046401
440    0.227281
441    0.612128
442    0.148139
443    0.111508
444    0.904274
445    0.336454
446    0.333100
447    0.764487
448    0.064721
449    0.210603
450    0.673124
dtype: float64, query_id
401    0.046806
402    0.263725
403    0.904492
404    0.236267
405    0.331344
406    0.451879
407    0.499580
408    0.405512
409    0.175552
410    0.908717
411    0.214210
412    0.052668
413    0.510072
414    0.299874
415    0.589277
416    0.311246
417    0.003113
418    0.430399
419    0.159998
420    0.500861
421    0.082377
422    0.650101
423    0.588490
424    0.405554
425    0.634386
426    0.276060
427    0.335703
428    0.346479
429    0.277115
430    0.603968
431    0.553171
432    0.008304
433    0.100244
434    0.400542
435    0.244783
436    0.347528
437    0.058696
438    0.086567
439    0.075293
440    0.379364
441    0.687555
442    0.142903
443    0.158972
444    0.588995
445    0.385470
446    0.450704
447    0.322906
448    0.197074
449    0.155786
450    0.584169
dtype: float64, query_id
401    0.049214
402    0.125086
403    0.802813
404    0.247843
405    0.250045
406    0.442275
407    0.455272
408    0.308235
409    0.112830
410    0.867890
411    0.404093
412    0.504089
413    0.232660
414    0.236550
415    0.619139
416    0.338488
417    0.172643
418    0.455466
419    0.121112
420    0.568400
421    0.149564
422    0.439630
423    0.543758
424    0.221199
425    0.420648
426    0.407473
427    0.308930
428    0.156984
429    0.174684
430    0.567857
431    0.405567
432    0.018127
433    0.001748
434    0.512755
435    0.271200
436    0.536104
437    0.023318
438    0.236878
439    0.081182
440    0.323457
441    0.683155
442    0.078214
443    0.113889
444    0.829988
445    0.366442
446    0.571610
447    0.908054
448    0.098752
449    0.140571
450    0.538482
dtype: float64, query_id
401    0.140011
402    0.266037
403    0.862642
404    0.219400
405    0.353702
406    0.377922
407    0.441903
408    0.249619
409    0.238300
410    0.824622
411    0.313523
412    0.446838
413    0.380752
414    0.296230
415    0.626722
416    0.419572
417    0.008491
418    0.459464
419    0.224944
420    0.460990
421    0.083469
422    0.541071
423    0.450064
424    0.385864
425    0.518209
426    0.129175
427    0.301557
428    0.186332
429    0.516557
430    0.671368
431    0.247262
432    0.013563
433    0.001938
434    0.558059
435    0.291255
436    0.244463
437    0.042494
438    0.298501
439    0.331128
440    0.295837
441    0.561634
442    0.020350
443    0.188316
444    0.239787
445    0.415681
446    0.462536
447    0.043931
448    0.143106
449    0.168648
450    0.661196
dtype: float64, query_id
401    0.153240
402    0.293589
403    0.833250
404    0.275025
405    0.203067
406    0.484998
407    0.393589
408    0.414916
409    0.210841
410    0.880110
411    0.447446
412    0.357939
413    0.130447
414    0.243773
415    0.557293
416    0.306871
417    0.271641
418    0.475479
419    0.271073
420    0.481433
421    0.073985
422    0.448205
423    0.706240
424    0.372948
425    0.623131
426    0.205480
427    0.417237
428    0.356552
429    0.290896
430    0.741880
431    0.457397
432    0.013933
433    0.316145
434    0.564063
435    0.146763
436    0.333836

In [11]:
# assuming the lists have the same length
precision10_results_df = pd.concat([pd.DataFrame(calculate_metrics_precisions).T],  axis=1)
precision10_results_df.columns = ["Precision@10_" + str(i) for i in range(15)] 

# calculate the overall precision@10
overall_precision = precision10_results_df.mean(axis=1)

# add the new column to the DataFrame
precision10_results_df['Overall Precision@10'] = overall_precision

# calculate the overall row precision@10
overall_precision_row = precision10_results_df.mean(axis=0)

# add the new row to the DataFrame
precision10_results_df.loc["Overall"] = overall_precision_row

# show the new table
print(precision10_results_df)
precision10_results_df.to_csv('resultsT10.csv')

          Precision@10_0  Precision@10_1  Precision@10_2  Precision@10_3
query_id
401                0.800           0.100           0.200             0.1  \
402                0.700           0.300           0.500             0.7
403                0.800           0.800           0.600             0.9
404                0.800           0.200           0.200             0.1
405                0.700           0.100           0.300             0.3
406                0.600           0.300           0.500             0.3
407                1.000           0.700           0.800             0.6
408                1.000           0.200           0.300             0.4
409                0.900           0.300           0.100             0.2
410                1.000           1.000           1.000             1.0
411                0.900           0.500           0.400             0.4
412                1.000           0.600           0.900             0.2
413                0.900           0.000           0.000             0.7
414                0.800           0.500           0.400             0.2
415                0.600           1.000           1.000             0.7
416                1.000           0.300           0.500             0.4
417                0.900           0.300           0.500             0.3
418                1.000           0.600           0.700             0.9
419                0.700           0.200           0.100             0.2
420                0.800           0.700           0.800             0.4
421                0.700           0.000           0.200             0.0
422                1.000           0.900           0.800             0.3
423                0.800           0.900           0.700             0.8
424                0.900           0.000           0.200             0.1
425                1.000           1.000           0.900             0.8
426                1.000           0.300           0.400             0.4
427                1.000           0.500           0.400             0.2
428                0.900           0.600           0.400             0.2
429                0.800           0.300           0.400             0.4
430                0.200           0.300           0.400             0.3
431                0.900           0.500           0.700             0.7
432                0.100           0.000           0.000             0.0
433                0.600           0.100           0.100             0.2
434                1.000           0.700           0.800             0.7
435                0.700           0.500           0.400             0.1
436                1.000           0.500           0.400             0.3
437                0.400           0.000           0.000             0.1
438                0.900           0.300           0.700             0.1
439                0.700           0.000           0.200             0.2
440                0.600           0.400           0.900             0.1
441                0.600           0.800           0.700             0.8
442                0.700           0.000           0.000             0.1
443                0.300           0.400           0.500             0.3
444                0.400           0.800           0.800             0.9
445                1.000           0.900           0.700             0.4
446                0.900           0.800           0.800             0.1
447                1.000           0.300           0.000             1.0
448                0.300           0.100           0.000             0.2
449                0.600           0.300           0.600             0.2
450                0.800           0.900           1.000             1.0
Overall            0.774           0.436           0.478             0.4

          Precision@10_4  Precision@10_5  Precision@10_6  Precision@10_7
query_id
401                0.000            0.10           0.400           0.700  \
402                0.000            1.00           0.600           1.000
403                0.300            1.00           0.900           1.000
404                0.000            0.60           0.200           0.400
405                0.000            0.30           0.300           0.200
406                0.000            0.40           0.500           0.400
407                0.800            0.90           0.900           0.600
408                0.600            0.60           0.200           0.400
409                0.000            0.20           0.100           0.500
410                0.000            1.00           1.000           1.000
411                0.000            0.70           0.600           0.500
412                0.000            0.90           0.900           0.700
413                0.000            0.80           0.100           0.600
414                0.000            0.40           0.400           0.400
415                0.100            1.00           1.000           1.000
416                0.000            0.70           0.300           0.400
417                0.000            0.60           0.000           0.700
418                0.000            1.00           0.800           0.700
419                0.000            0.10           0.100           0.200
420                0.300            0.90           0.900           0.300
421                0.000            0.10           0.000           0.000
422                0.000            1.00           0.500           0.600
423                0.200            0.90           0.900           0.800
424                0.000            0.60           0.400           0.500
425                0.100            1.00           1.000           0.900
426                0.100            0.50           0.000           0.500
427                0.000            0.50           0.400           0.500
428                0.100            0.30           0.200           0.200
429                0.000            0.40           0.300           0.300
430                0.000            0.30           0.300           0.400
431                0.200            0.80           0.900           0.900
432                0.000            0.00           0.000           0.000
433                0.000            0.20           0.200           0.000
434                0.100            0.90           0.600           0.900
435                0.000            0.50           0.600           0.200
436                0.100            0.10           0.800           0.100
437                0.000            0.10           0.000           0.000
438                0.000            0.50           0.300           0.300
439                0.000            0.20           0.200           0.100
440                0.100            0.60           0.700           0.400
441                0.500            0.60           0.700           0.800
442                0.000            0.30           0.000           0.000
443                0.200            0.50           0.500           0.200
444                0.000            0.80           0.900           0.900
445                0.200            0.50           0.800           0.200
446                0.000            0.70           0.900           0.800
447                0.000            0.60           0.000           0.200
448                0.000            0.20           0.000           0.200
449                0.000            0.70           0.500           0.400
450                0.600            0.90           1.000           0.900
Overall            0.092            0.57           0.476           0.478

          Precision@10_8  Precision@10_9  Precision@10_10  Precision@10_11
query_id
401                0.000           0.900            0.100            0.000  \
402                0.000           0.900            0.500            0.100
403                0.400           0.900            1.000            0.900
404                0.100           0.400            0.300            0.500
405                0.000           0.600            0.500            0.500
406                0.100           0.600            0.600            0.600
407                0.300           0.900            1.000            0.800
408                0.100           0.200            0.400            0.400
409                0.000           0.300            0.200            0.200
410                0.400           1.000            1.000            1.000
411                0.000           0.900            0.300            0.500
412                0.000           0.000            0.000            0.700
413                0.100           0.700            1.000            0.300
414                0.000           0.300            0.400            0.300
415                0.100           1.000            1.000            1.000
416                0.200           0.400            0.300            0.300
417                0.000           0.500            0.000            0.400
418                0.400           0.700            0.700            0.600
419                0.200           0.300            0.100            0.100
420                0.000           0.800            0.900            0.800
421                0.100           0.000            0.000            0.100
422                0.000           0.300            0.900            1.000
423                0.000           0.900            0.900            0.800
424                0.000           0.500            0.700            0.200
425                0.100           0.700            1.000            0.800
426                0.000           0.600            0.500            0.800
427                0.100           0.500            0.600            0.500
428                0.400           0.400            0.400            0.000
429                0.200           0.100            0.300            0.200
430                0.300           0.300            0.300            0.300
431                0.200           1.000            1.000            0.600
432                0.000           0.000            0.000            0.000
433                0.000           0.100            0.100            0.000
434                0.200           0.500            0.600            0.900
435                0.000           0.400            0.300            0.300
436                0.000           0.400            0.500            0.900
437                0.200           0.000            0.000            0.000
438                0.200           0.000            0.000            0.400
439                0.000           0.000            0.100            0.200
440                0.000           0.400            0.600            0.800
441                0.300           0.700            0.800            0.700
442                0.000           0.200            0.300            0.100
443                0.000           0.100            0.400            0.100
444                0.000           1.000            0.600            1.000
445                0.000           0.800            0.900            0.700
446                0.100           0.600            0.500            0.800
447                0.000           0.900            0.200            1.000
448                0.000           0.100            0.300            0.200
449                0.000           0.400            0.400            0.400
450                0.000           1.000            0.900            0.800
Overall            0.096           0.504            0.488            0.492

          Precision@10_12  Precision@10_13  Precision@10_14
query_id
401                 0.100            0.300            0.000  \
402                 0.500            0.700            0.500
403                 1.000            0.900            1.000
404                 0.300            0.400            0.300
405                 0.500            0.200            0.400
406                 0.500            0.400            0.500
407                 0.800            0.700            0.700
408                 0.300            0.400            0.400
409                 0.300            0.400            0.200
410                 1.000            1.000            1.000
411                 0.500            0.500            0.400
412                 0.900            0.800            0.600
413                 0.800            0.400            0.400
414                 0.400            0.400            0.400
415                 0.800            0.900            1.000
416                 0.700            0.500            0.500
417                 0.000            0.600            0.700
418                 0.600            0.700            0.700
419                 0.200            0.300            0.400
420                 0.600            0.900            0.900
421                 0.300            0.000            0.000
422                 0.800            0.500            0.800
423                 0.700            0.900            0.900
424                 0.700            0.400            0.400
425                 0.900            1.000            1.000
426                 0.300            0.100            0.600
427                 0.600            0.700            0.400
428                 0.300            0.500            0.400
429                 0.500            0.300            0.300
430                 0.400            0.400            0.300
431                 0.500            0.900            0.400
432                 0.000            0.000            0.100
433                 0.000            0.200            0.200
434                 0.900            0.900            1.000
435                 0.300            0.200            0.300
436                 0.500            0.500            0.500
437                 0.000            0.100            0.000
438                 0.500            0.800            0.500
439                 0.100            0.100            0.200
440                 0.500            0.300            0.400
441                 0.700            0.800            0.700
442                 0.000            0.200            0.100
443                 0.500            0.500            0.500
444                 0.300            1.000            0.900
445                 0.900            0.800            0.800
446                 0.600            0.500            0.600
447                 0.000            0.400            0.300
448                 0.200            0.100            0.200
449                 0.300            0.200            0.400
450                 1.000            0.700            1.000
Overall             0.482            0.508            0.504

          Overall Precision@10
query_id
401                   0.253333
402                   0.533333
403                   0.826667
404                   0.320000
405                   0.326667
406                   0.420000
407                   0.766667
408                   0.393333
409                   0.260000
410                   0.893333
411                   0.473333
412                   0.546667
413                   0.453333
414                   0.353333
415                   0.813333
416                   0.433333
417                   0.366667
418                   0.673333
419                   0.213333
420                   0.666667
421                   0.100000
422                   0.626667
423                   0.740000
424                   0.373333
425                   0.813333
426                   0.406667
427                   0.460000
428                   0.353333
429                   0.320000
430                   0.300000
431                   0.680000
432                   0.013333
433                   0.133333
434                   0.713333
435                   0.320000
436                   0.440000
437                   0.060000
438                   0.366667
439                   0.153333
440                   0.453333
441                   0.680000
442                   0.133333
443                   0.333333
444                   0.686667
445                   0.640000
446                   0.580000
447                   0.393333
448                   0.140000
449                   0.360000
450                   0.833333
Overall               0.451867

In [12]:
########################## Question b ##########################
map_results_df = pd.concat([pd.DataFrame(calculate_metrics_avg_precisions).T],  axis=1)
map_results_df.columns = ["MAP_" + str(i) for i in range(15)] 


# calculate the overall precision@10
overall_precision = map_results_df.mean(axis=1)

# add the new column to the DataFrame
map_results_df['Overall Precision@10'] = overall_precision

# calculate the overall row precision@10
overall_precision_row = map_results_df.mean(axis=0)

# add the new row to the DataFrame
map_results_df.loc["Overall"] = overall_precision_row

# show the new table
print(map_results_df)
map_results_df.to_csv('resultsMAP.csv')

             MAP_0     MAP_1     MAP_2     MAP_3     MAP_4     MAP_5
query_id
401       0.886494  0.089114  0.133187  0.109808  0.022466  0.088762  \
402       0.757474  0.173972  0.240247  0.439844  0.052108  0.467964
403       0.850590  0.741483  0.737960  0.751957  0.387609  0.872069
404       0.843399  0.181481  0.206948  0.228738  0.000000  0.293555
405       0.777567  0.167936  0.164085  0.200206  0.001091  0.148245
406       0.656257  0.387500  0.438768  0.231931  0.000000  0.408955
407       0.830961  0.421762  0.502876  0.305915  0.567553  0.452851
408       0.932891  0.289035  0.242085  0.354307  0.327780  0.349429
409       0.792572  0.262796  0.050198  0.223564  0.004049  0.198247
410       0.623125  0.910139  0.874088  0.749877  0.000000  0.783561
411       0.919772  0.295043  0.290586  0.417404  0.000000  0.562747
412       0.748386  0.391078  0.577200  0.070499  0.020216  0.585159
413       0.668617  0.054348  0.058481  0.296795  0.008992  0.507368
414       0.515319  0.293325  0.221919  0.186644  0.008598  0.219024
415       0.700053  0.531010  0.542335  0.503687  0.099652  0.600423
416       0.938159  0.332623  0.334489  0.221801  0.000000  0.384733
417       0.948179  0.122120  0.198626  0.075870  0.022755  0.414802
418       0.887619  0.378891  0.419000  0.430729  0.000000  0.451543
419       0.716382  0.079556  0.038250  0.283233  0.012008  0.222660
420       0.779922  0.452678  0.488695  0.153927  0.184325  0.517370
421       0.562105  0.056057  0.137775  0.029072  0.037026  0.068772
422       0.941038  0.627267  0.364895  0.156275  0.000000  0.674474
423       0.891988  0.553222  0.465734  0.771065  0.140557  0.639790
424       0.892823  0.168364  0.200787  0.098408  0.066147  0.350688
425       1.000000  0.519586  0.534200  0.426606  0.256075  0.653688
426       0.947958  0.132723  0.147631  0.184884  0.090982  0.256267
427       0.917702  0.249312  0.265351  0.230621  0.000000  0.368525
428       0.867663  0.331663  0.352502  0.285186  0.105536  0.381609
429       1.000000  0.343981  0.463512  0.339004  0.022976  0.353577
430       1.000000  0.516162  0.459028  0.442484  0.076923  0.599796
431       0.715883  0.389706  0.547772  0.405029  0.173611  0.487826
432       0.200000  0.026233  0.003334  0.001471  0.001339  0.034664
433       0.976190  0.125000  0.071029  0.138557  0.001618  0.137481
434       0.966514  0.435550  0.505289  0.426709  0.500000  0.606386
435       0.759801  0.264621  0.327884  0.052069  0.041747  0.233889
436       0.937648  0.271813  0.208498  0.120162  0.173808  0.215006
437       0.424516  0.065871  0.075664  0.054728  0.030682  0.076949
438       0.770957  0.277577  0.397943  0.114984  0.087094  0.339264
439       0.607791  0.120818  0.080871  0.082789  0.022000  0.092779
440       0.540061  0.341069  0.467620  0.093115  0.200000  0.320260
441       1.000000  0.642005  0.575642  0.655771  0.659754  0.570820
442       0.800557  0.038202  0.040883  0.039080  0.000000  0.133042
443       0.209281  0.236185  0.234388  0.114477  0.047527  0.181984
444       1.000000  0.608668  0.640160  0.738839  0.000000  0.630334
445       0.984936  0.333557  0.319766  0.189616  0.099505  0.167249
446       0.851592  0.370351  0.368960  0.078546  0.004425  0.392569
447       1.000000  0.325396  0.019914  0.930510  0.000000  0.695509
448       1.000000  0.026958  0.021389  0.100678  0.010309  0.163052
449       0.722023  0.165631  0.210215  0.175190  0.007178  0.223339
450       0.898855  0.604403  0.516232  0.630096  0.246838  0.618849
Overall   0.803232  0.314477  0.315698  0.286855  0.096457  0.383958

             MAP_6     MAP_7     MAP_8     MAP_9    MAP_10    MAP_11
query_id
401       0.276485  0.370660  0.003749  0.483293  0.046806  0.049214  \
402       0.286207  0.429470  0.000000  0.412671  0.263725  0.125086
403       0.819372  0.895746  0.352071  0.827710  0.904492  0.802813
404       0.217680  0.254407  0.079559  0.254485  0.236267  0.247843
405       0.209780  0.185962  0.000000  0.339911  0.331344  0.250045
406       0.498380  0.340204  0.096496  0.448524  0.451879  0.442275
407       0.588818  0.357352  0.291447  0.536246  0.499580  0.455272
408       0.279555  0.393592  0.061905  0.360585  0.405512  0.308235
409       0.171535  0.227681  0.091831  0.231311  0.175552  0.112830
410       0.883749  0.859388  0.441190  0.802568  0.908717  0.867890
411       0.335603  0.454482  0.000000  0.547351  0.214210  0.404093
412       0.534737  0.267579  0.027804  0.074274  0.052668  0.504089
413       0.067907  0.398717  0.054650  0.399694  0.510072  0.232660
414       0.259575  0.293368  0.052939  0.212148  0.299874  0.236550
415       0.694458  0.607209  0.066089  0.624747  0.589277  0.619139
416       0.307684  0.377666  0.236111  0.323622  0.311246  0.338488
417       0.015761  0.357952  0.082459  0.172656  0.003113  0.172643
418       0.501930  0.403138  0.438845  0.434751  0.430399  0.455466
419       0.087603  0.193948  0.063318  0.324082  0.159998  0.121112
420       0.475879  0.208235  0.037175  0.461025  0.500861  0.568400
421       0.097973  0.027328  0.078287  0.042605  0.082377  0.149564
422       0.266949  0.419717  0.019312  0.360930  0.650101  0.439630
423       0.536445  0.562505  0.004578  0.675331  0.588490  0.543758
424       0.168047  0.373461  0.009372  0.361986  0.405554  0.221199
425       0.591537  0.466693  0.133310  0.450526  0.634386  0.420648
426       0.088079  0.226031  0.028201  0.238952  0.276060  0.407473
427       0.262958  0.256019  0.038411  0.325985  0.335703  0.308930
428       0.319210  0.200310  0.228063  0.311187  0.346479  0.156984
429       0.301830  0.384214  0.302734  0.200409  0.277115  0.174684
430       0.310317  0.552742  0.397619  0.589103  0.603968  0.567857
431       0.529011  0.555046  0.089627  0.476630  0.553171  0.405567
432       0.000000  0.011412  0.000000  0.033439  0.008304  0.018127
433       0.119093  0.036292  0.000000  0.067865  0.100244  0.001748
434       0.472899  0.515165  0.272369  0.342184  0.400542  0.512755
435       0.301754  0.125581  0.043948  0.267314  0.244783  0.271200
436       0.425972  0.131813  0.019472  0.172951  0.347528  0.536104
437       0.069123  0.050915  0.110149  0.030005  0.058696  0.023318
438       0.243288  0.248772  0.081726  0.135327  0.086567  0.236878
439       0.078779  0.227465  0.034911  0.046401  0.075293  0.081182
440       0.471228  0.223420  0.043047  0.227281  0.379364  0.323457
441       0.617018  0.497535  0.455364  0.612128  0.687555  0.683155
442       0.023047  0.036513  0.000000  0.148139  0.142903  0.078214
443       0.188913  0.095318  0.020993  0.111508  0.158972  0.113889
444       0.939675  0.581944  0.000000  0.904274  0.588995  0.829988
445       0.405063  0.129827  0.000000  0.336454  0.385470  0.366442
446       0.547017  0.288474  0.051479  0.333100  0.450704  0.571610
447       0.104485  0.206104  0.000000  0.764487  0.322906  0.908054
448       0.016005  0.123219  0.002465  0.064721  0.197074  0.098752
449       0.163286  0.214194  0.074702  0.210603  0.155786  0.140571
450       0.545127  0.620687  0.024085  0.673124  0.584169  0.538482
Overall   0.334337  0.325309  0.100837  0.355732  0.348497  0.348887

            MAP_12    MAP_13    MAP_14  Overall Precision@10
query_id
401       0.140011  0.153240  0.043416              0.193114
402       0.266037  0.293589  0.246617              0.297001
403       0.862642  0.833250  0.882552              0.768154
404       0.219400  0.275025  0.245716              0.252300
405       0.353702  0.203067  0.305873              0.242588
406       0.377922  0.484998  0.477233              0.382755
407       0.441903  0.393589  0.378717              0.468323
408       0.249619  0.414916  0.365045              0.355633
409       0.238300  0.210841  0.153916              0.209681
410       0.824622  0.880110  0.907541              0.754438
411       0.313523  0.447446  0.311758              0.367601
412       0.446838  0.357939  0.386788              0.336350
413       0.380752  0.130447  0.253842              0.268223
414       0.296230  0.243773  0.273875              0.240877
415       0.626722  0.557293  0.703332              0.537695
416       0.419572  0.306871  0.368831              0.346793
417       0.008491  0.271641  0.420450              0.219168
418       0.459464  0.475479  0.347012              0.434284
419       0.224944  0.271073  0.293293              0.206097
420       0.460990  0.481433  0.484929              0.417056
421       0.083469  0.073985  0.083054              0.107297
422       0.541071  0.448205  0.552820              0.430846
423       0.450064  0.706240  0.633405              0.544212
424       0.385864  0.372948  0.302569              0.291881
425       0.518209  0.623131  0.612925              0.522768
426       0.129175  0.205480  0.202385              0.237485
427       0.301557  0.417237  0.294548              0.304857
428       0.186332  0.356552  0.352318              0.318773
429       0.516557  0.290896  0.171023              0.342834
430       0.671368  0.741880  0.687209              0.547764
431       0.247262  0.457397  0.425356              0.430593
432       0.013563  0.013933  0.031323              0.026476
433       0.001938  0.316145  0.366667              0.163991
434       0.558059  0.564063  0.492458              0.504729
435       0.291255  0.146763  0.245114              0.241182
436       0.244463  0.333836  0.242973              0.292136
437       0.042494  0.079984  0.058212              0.083420
438       0.298501  0.339199  0.304836              0.264194
439       0.331128  0.067196  0.166661              0.141071
440       0.295837  0.170356  0.315930              0.294136
441       0.561634  0.713544  0.685292              0.641148
442       0.020350  0.086007  0.086636              0.111571
443       0.188316  0.393439  0.241158              0.169090
444       0.239787  0.939901  0.725944              0.624567
445       0.415681  0.359905  0.332152              0.321708
446       0.462536  0.357587  0.533617              0.377504
447       0.043931  0.242361  0.234758              0.386561
448       0.143106  0.068105  0.085454              0.141419
449       0.168648  0.116720  0.209107              0.197146
450       0.661196  0.581072  0.554552              0.553184
Overall   0.332501  0.365402  0.361624              0.338254

In [13]:
########################## Question c ##########################

# Retrieve the precision@10 values for each system, excluding the last column value
list_system_precision10 = precision10_results_df.loc["Overall"][:-1].values

# Retrieve the mean average precision (MAP) values for each system, excluding the last column value
list_system_map = map_results_df.loc["Overall"][:-1].values

# Calculate the correlation coefficient between precision@10 and MAP values
correlation_coefficient = np.corrcoef(list_system_precision10, list_system_map)[0, 1]

# Print the correlation coefficient with an explanation
print("Correlation Coefficient: {:.2f}".format(correlation_coefficient))
print("The correlation coefficient indicates the strength and direction of the linear relationship between precision@10 and MAP values.")
print("A value close to 1 suggests a strong positive correlation, while a value close to -1 suggests a strong negative correlation.")
print("A value close to 0 indicates a weak or no correlation between the two variables.")

Correlation Coefficient: 0.91
The correlation coefficient indicates the strength and direction of the linear relationship between precision@10 and MAP values.
A value close to 1 suggests a strong positive correlation, while a value close to -1 suggests a strong negative correlation.
A value close to 0 indicates a weak or no correlation between the two variables.

In [23]:
import scipy.stats as stats

significant_pairs = 0  # Counter for significant pairs

for i in range(len(list_system_map)):
    for j in range(i+1, len(list_system_map)):
        system1 = list_system_map[i]
        system2 = list_system_map[j]

        # Perform the Mann-Whitney U test between system1 and system2
        u_statistic, p_value = stats.mannwhitneyu(system1, system2, alternative='two-sided')
        
        if p_value < 0.05:
            significant_pairs += 1

        # Print the result with an explanation
        print("Significance testing between System {} and System {}: p-value = {:.4f}".format(i+1, j+1, p_value))

print("\n\nNumber of significantly different pairs: {}".format(significant_pairs))

Significance testing between System 1 and System 2: p-value = 1.0000
Significance testing between System 1 and System 3: p-value = 1.0000
Significance testing between System 1 and System 4: p-value = 1.0000
Significance testing between System 1 and System 5: p-value = 1.0000
Significance testing between System 1 and System 6: p-value = 1.0000
Significance testing between System 1 and System 7: p-value = 1.0000
Significance testing between System 1 and System 8: p-value = 1.0000
Significance testing between System 1 and System 9: p-value = 1.0000
Significance testing between System 1 and System 10: p-value = 1.0000
Significance testing between System 1 and System 11: p-value = 1.0000
Significance testing between System 1 and System 12: p-value = 1.0000
Significance testing between System 1 and System 13: p-value = 1.0000
Significance testing between System 1 and System 14: p-value = 1.0000
Significance testing between System 1 and System 15: p-value = 1.0000
Significance testing between System 2 and System 3: p-value = 1.0000
Significance testing between System 2 and System 4: p-value = 1.0000
Significance testing between System 2 and System 5: p-value = 1.0000
Significance testing between System 2 and System 6: p-value = 1.0000
Significance testing between System 2 and System 7: p-value = 1.0000
Significance testing between System 2 and System 8: p-value = 1.0000
Significance testing between System 2 and System 9: p-value = 1.0000
Significance testing between System 2 and System 10: p-value = 1.0000
Significance testing between System 2 and System 11: p-value = 1.0000
Significance testing between System 2 and System 12: p-value = 1.0000
Significance testing between System 2 and System 13: p-value = 1.0000
Significance testing between System 2 and System 14: p-value = 1.0000
Significance testing between System 2 and System 15: p-value = 1.0000
Significance testing between System 3 and System 4: p-value = 1.0000
Significance testing between System 3 and System 5: p-value = 1.0000
Significance testing between System 3 and System 6: p-value = 1.0000
Significance testing between System 3 and System 7: p-value = 1.0000
Significance testing between System 3 and System 8: p-value = 1.0000
Significance testing between System 3 and System 9: p-value = 1.0000
Significance testing between System 3 and System 10: p-value = 1.0000
Significance testing between System 3 and System 11: p-value = 1.0000
Significance testing between System 3 and System 12: p-value = 1.0000
Significance testing between System 3 and System 13: p-value = 1.0000
Significance testing between System 3 and System 14: p-value = 1.0000
Significance testing between System 3 and System 15: p-value = 1.0000
Significance testing between System 4 and System 5: p-value = 1.0000
Significance testing between System 4 and System 6: p-value = 1.0000
Significance testing between System 4 and System 7: p-value = 1.0000
Significance testing between System 4 and System 8: p-value = 1.0000
Significance testing between System 4 and System 9: p-value = 1.0000
Significance testing between System 4 and System 10: p-value = 1.0000
Significance testing between System 4 and System 11: p-value = 1.0000
Significance testing between System 4 and System 12: p-value = 1.0000
Significance testing between System 4 and System 13: p-value = 1.0000
Significance testing between System 4 and System 14: p-value = 1.0000
Significance testing between System 4 and System 15: p-value = 1.0000
Significance testing between System 5 and System 6: p-value = 1.0000
Significance testing between System 5 and System 7: p-value = 1.0000
Significance testing between System 5 and System 8: p-value = 1.0000
Significance testing between System 5 and System 9: p-value = 1.0000
Significance testing between System 5 and System 10: p-value = 1.0000
Significance testing between System 5 and System 11: p-value = 1.0000
Significance testing between System 5 and System 12: p-value = 1.0000
Significance testing between System 5 and System 13: p-value = 1.0000
Significance testing between System 5 and System 14: p-value = 1.0000
Significance testing between System 5 and System 15: p-value = 1.0000
Significance testing between System 6 and System 7: p-value = 1.0000
Significance testing between System 6 and System 8: p-value = 1.0000
Significance testing between System 6 and System 9: p-value = 1.0000
Significance testing between System 6 and System 10: p-value = 1.0000
Significance testing between System 6 and System 11: p-value = 1.0000
Significance testing between System 6 and System 12: p-value = 1.0000
Significance testing between System 6 and System 13: p-value = 1.0000
Significance testing between System 6 and System 14: p-value = 1.0000
Significance testing between System 6 and System 15: p-value = 1.0000
Significance testing between System 7 and System 8: p-value = 1.0000
Significance testing between System 7 and System 9: p-value = 1.0000
Significance testing between System 7 and System 10: p-value = 1.0000
Significance testing between System 7 and System 11: p-value = 1.0000
Significance testing between System 7 and System 12: p-value = 1.0000
Significance testing between System 7 and System 13: p-value = 1.0000
Significance testing between System 7 and System 14: p-value = 1.0000
Significance testing between System 7 and System 15: p-value = 1.0000
Significance testing between System 8 and System 9: p-value = 1.0000
Significance testing between System 8 and System 10: p-value = 1.0000
Significance testing between System 8 and System 11: p-value = 1.0000
Significance testing between System 8 and System 12: p-value = 1.0000
Significance testing between System 8 and System 13: p-value = 1.0000
Significance testing between System 8 and System 14: p-value = 1.0000
Significance testing between System 8 and System 15: p-value = 1.0000
Significance testing between System 9 and System 10: p-value = 1.0000
Significance testing between System 9 and System 11: p-value = 1.0000
Significance testing between System 9 and System 12: p-value = 1.0000
Significance testing between System 9 and System 13: p-value = 1.0000
Significance testing between System 9 and System 14: p-value = 1.0000
Significance testing between System 9 and System 15: p-value = 1.0000
Significance testing between System 10 and System 11: p-value = 1.0000
Significance testing between System 10 and System 12: p-value = 1.0000
Significance testing between System 10 and System 13: p-value = 1.0000
Significance testing between System 10 and System 14: p-value = 1.0000
Significance testing between System 10 and System 15: p-value = 1.0000
Significance testing between System 11 and System 12: p-value = 1.0000
Significance testing between System 11 and System 13: p-value = 1.0000
Significance testing between System 11 and System 14: p-value = 1.0000
Significance testing between System 11 and System 15: p-value = 1.0000
Significance testing between System 12 and System 13: p-value = 1.0000
Significance testing between System 12 and System 14: p-value = 1.0000
Significance testing between System 12 and System 15: p-value = 1.0000
Significance testing between System 13 and System 14: p-value = 1.0000
Significance testing between System 13 and System 15: p-value = 1.0000
Significance testing between System 14 and System 15: p-value = 1.0000


Number of significantly different pairs: 0